Automation/workflows/AcceptTacheWp.json
{"createdAt":"2025-06-24T21:26:11.073Z","updatedAt":"2025-08-05T19:53:52.795Z","id":"dsuYpD5xhK7e6MPD","name":"AcceptTacheWp","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"StartTask","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,0],"id":"75cb3f1b-79e7-4680-981d-c166b5f1cfbb","name":"Webhook","webhookId":"73f536c3-7eb5-47cd-8320-3e536dace4a8"},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.TachesId }}","fieldsUi":{"fieldValues":[{"fieldId":6872,"fieldValue":"En_cours"},{"fieldId":6873,"fieldValue":"normal"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[208,-144],"id":"561c6581-33d6-46ac-86ca-84e6d3530f83","name":"Update a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4135d8ae-8f72-488e-a6d9-39af62f2681b","leftValue":"={{ $json.body.titre }}","rightValue":"Valider Devis","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,0],"id":"037b55d1-f069-4024-b7d4-b5025e75f5d4","name":"If"},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.opportunite[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Soumission"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[432,112],"id":"fc814084-e2d6-42fa-a499-536f89fa782d","name":"Update a row2","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.TachesId }}","fieldsUi":{"fieldValues":[{"fieldId":6872,"fieldValue":"Terminer"},{"fieldId":6875,"fieldValue":"={{ $now }}"},{"fieldId":6874,"fieldValue":"True"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[208,112],"id":"bdbad5b6-192e-4e16-8adb-e76b388d243e","name":"UpdateTaches_statut_en_cours","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":704,"rowId":"={{ $json.Devis[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6843,"fieldValue":"soumission"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[640,112],"id":"2effbe3a-02b1-445d-83fb-6cd108e07954","name":"Update a row1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"UpdateTaches_statut_en_cours","type":"main","index":0}]]},"UpdateTaches_statut_en_cours":{"main":[[{"node":"Update a row2","type":"main","index":0}]]},"Update a row2":{"main":[[{"node":"Update a row1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eecie.ca","user-agent":"WordPress/6.8.1; https://portal.eecie.ca","accept":"*/*","accept-encoding":"deflate, gzip, br, zstd","content-type":"application/json","origin":"https://n8n.eecie.ca","x-forwarded-proto":"https","x-forwarded-for":"2607:5300:203:15ac::1","x-forwarded-host":"n8n.eecie.ca","x-forwarded-server":"n8n.eecie.ca","content-length":"533","connection":"Keep-Alive"},"params":{},"query":{},"body":{"id":475,"order":"4.00000000000000000000","TachesId":475,"titre":"Valider Devis","description":null,"date_echeance":null,"statut":{"id":3039,"value":"Creation","color":"orange"},"priorite":{"id":3035,"value":"haute","color":"darker-red"},"terminer":false,"date_completion":null,"contact":[{"id":70,"value":"70","order":"10.00000000000000000000"}],"opportunite":[{"id":151,"value":"Étienne Gagnon","order":"1.00000000000000000000"}],"assigne":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Created on":"2025-07-09"},"webhookUrl":"https://n8n.eecie.ca/webhook/StartTask","executionMode":"production"}}]},"versionId":"b9d655cf-c71a-43c4-8f2e-9bcd0d847373","triggerCount":1,"tags":[{"createdAt":"2025-07-08T11:10:08.036Z","updatedAt":"2025-07-08T11:10:08.036Z","id":"w9Sh9vh5L2PZdnkm","name":"with_exceptions"},{"createdAt":"2025-06-17T22:03:07.359Z","updatedAt":"2025-06-17T22:03:07.359Z","id":"E4rBgnxxLWsa7OIx","name":"complet"}]}