Automation/workflows/Analyse Call.json
{"createdAt":"2025-07-15T09:50:25.596Z","updatedAt":"2025-07-17T17:38:34.673Z","id":"ByVMHp2n4XZSaObE","name":"Analyse Call","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add audio ","formDescription":"Form pour ajouter un enregistrement d'appel","formFields":{"values":[{"fieldLabel":"AudioFile","fieldType":"file","acceptFileTypes":".wav,.mp3","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-976,64],"id":"1c811339-1d66-4f49-99ae-d67ca4497a9a","name":"On form submission","webhookId":"13f4d754-580d-4546-abe6-a393f82714e1"},{"parameters":{"jsCode":"\nconst FormData = require('form-data');\nconst axios    = require('axios');\n\n\nconst item = $input.all()[0];\n\n\nconst attachment = item.binary?.AudioFile;\nif (!attachment) {\n  throw new Error('Aucun binaire \"AudioFile\" trouvé');\n}\n\n// Prépare le form-data\nconst form = new FormData();\nform.append(\n  'file',\n  // Buffer à partir du base64\n  Buffer.from(attachment.data, 'base64'),\n  {\n    filename:    attachment.fileName,  \n    contentType: attachment.mimeType,  \n  }\n);\n\n// Appel à ton API Flask\nconst resp = await axios.post(\n  'http://host.docker.internal:5000/transcribe', \n  form,\n  {\n    headers: {\n      \n      ...form.getHeaders(),\n    },\n    \n    maxContentLength: Infinity,\n    maxBodyLength:    Infinity,\n    timeout:          600_000, \n  }\n);\n\n// Retourne le JSON de transcritpion\nreturn [\n  {\n    json: resp.data,\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,48],"id":"8f9da13f-3834-47cc-bd90-e8d53ee3dc49","name":"Code"},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-656,224],"id":"cc96726e-5c87-4975-8149-7027002c7d8a","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"content":"## v0.1 no diar no time no align :\nSimple extraction wisperx large-v3 local","height":440,"width":2220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,-48],"id":"f2a6479a-6114-4ab8-af58-254c9d1dc7f7","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"={{ $json.transcription }}","messages":{"messageValues":[{"message":"tu vas recevoir un transcript audio d'une conversation d'un agent commercial.|Analyse ce contenu et donnes des conseil afin d'améliorer le traitement des clients par nos agents commerciaux /no_think"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-208,-16],"id":"7931570b-ab4a-445c-8983-a91c46c37576","name":"Basic prompt"},{"parameters":{"promptType":"define","text":"={{ $json.transcription }}","messages":{"messageValues":[{"message":"<sales_analysis_coach_system>  <request_classification> Classifie l'entrée utilisateur afin de déterminer le type d'analyse et la persona à activer. <request_types>  Sales_Call_Analysis_Request <identification_criteria>  </identification_criteria> <task_id>sales_call_analysis_task</task_id> <persona_to_activate>Expert Commercial Recursive</persona_to_activate>   General_Inquiry <identification_criteria>  </identification_criteria> <task_id>general_response_task</task_id> <persona_to_activate>Assistant AI</persona_to_activate>  </request_types> </request_classification>  <persona_specifications>     Coach Socratique expert++ en techniques de vente et en communication commerciale avancée. <knowledge_base_references>  </knowledge_base_references>  </persona_specifications>  <task_specifications>     Session d'analyse d'appel commercial <sales_call_evaluation_criteria>  Introduction et prise de contact Découverte des besoins Présentation produit/service Gestion des objections Argumentation et persuasion Clôture et appel à l'action Qualité relationnelle et communication  </sales_call_evaluation_criteria> <coaching_methodology_recursive>  Initialisation (écoute et évaluation préliminaire) Amélioration récursive (identification détaillée des points d'amélioration, suggestions pratiques) Réflexion (synthèse des points forts, des points faibles et des recommandations)  </coaching_methodology_recursive> <output_format_coaching>  </output_format_coaching>  </task_specifications>  <execution_flow>  </execution_flow>  </sales_analysis_coach_system>"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-208,144],"id":"734f619b-283e-4fcf-a9d4-f183ece4051e","name":"XML basic prompt"},{"parameters":{"promptType":"define","text":"=TRANSCRIPT=  {{ $json.transcription }}","messages":{"messageValues":[{"message":"=\n\n    Agis comme un coach en excellence commerciale de la société entretien et excellence spécialisé dans l’analyse de conversations de vente. Voici la transcription d’un échange entre un agent commercial et un prospect : [TRANSCRIPT]\n\n    Analyse cette conversation selon les axes suivants :\n\n        Accueil et introduction : La prise de contact et la mise en confiance sont-elles efficaces ?\n\n        Découverte des besoins : L’agent pose-t-il des questions pertinentes pour comprendre le contexte et les enjeux du prospect ?\n\n        Présentation de la solution : La proposition de valeur est-elle clairement expliquée et adaptée aux besoins du client ?\n\n        Gestion des objections : Quelles objections sont soulevées ? Les réponses apportées sont-elles structurées (relance, écoute active, reformulation) ?\n\n        Techniques de closing : Comment l’agent tente-t-il d’engager la suite de la relation ou de conclure la vente ?\n\n    Indique pour chaque étape :\n\n        Points forts\n\n        Axes d’amélioration\n\n        Exemples de formulations qui auraient pu être utilisées\n\n    Extrais les KPI suivants et présente-les dans un tableau synthétique :\n\n        Nombre de questions ouvertes/fermées\n\n        Ratio de parole agent/prospect\n\n        Temps consacré à chaque étape de la vente\n\n        Objections majeures identifiées\n\n        Nombre d’objections traitées efficacement\n\n        Taux de relance ou de reformulation\n\n        Durée totale de l’échange\n\n        Score d’écoute active (sur 5)\n\n        Score d’empathie (sur 5)\n\n        Taux d’aboutissement vers l’étape suivante (proposition, rendez-vous, accord)\n\n    Rends ce prompt personnalisable en ajoutant :\n\n        [Secteur d’activité à préciser]\n\n        [Objectif de l’appel : découverte, qualification, closing, upsell…]\n\n        [Niveau d’expérience de l’agent : junior/senior]\n\n        [Style de conversation : formel/familier]\n\n        [Ajoute ou retire certaines étapes/KPI selon le besoin]\n\n/no_think\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-176,288],"id":"fdcffe86-6945-46b5-a5a5-4834eba0128b","name":"Prompt amélioré kpi","notesInFlow":true,"notes":"Besoin extraction avec timing pour etre vraiment efficace et réel sur timing"},{"parameters":{"formTitle":"Add audio ","formDescription":"Form pour ajouter un enregistrement d'appel","formFields":{"values":[{"fieldLabel":"AudioFile","fieldType":"file","acceptFileTypes":".wav,.mp3","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-848,512],"id":"8466d7d2-0229-4431-9e77-26dff484f49f","name":"On form submission1","webhookId":"d4b60825-2a60-4c3a-b0c6-07f53eca5697"},{"parameters":{"jsCode":"\nconst FormData = require('form-data');\nconst axios    = require('axios');\n\n\nconst item = $input.all()[0];\n\n\nconst attachment = item.binary?.AudioFile;\nif (!attachment) {\n  throw new Error('Aucun binaire \"AudioFile\" trouvé');\n}\n\n// Prépare le form-data\nconst form = new FormData();\nform.append(\n  'file',\n  // Buffer à partir du base64\n  Buffer.from(attachment.data, 'base64'),\n  {\n    filename:    attachment.fileName, \n    contentType: attachment.mimeType,  \n  }\n);\n\n// Appel à ton API Flask\nconst resp = await axios.post(\n  'http://host.docker.internal:5000/transcribe',\n  form,\n  {\n    headers: {\n     \n      ...form.getHeaders(),\n    },\n   \n    maxContentLength: Infinity,\n    maxBodyLength:    Infinity,\n    timeout:          600_000, \n  }\n);\n\n// Retourne le JSON de transcritpion\nreturn [\n  {\n    json: resp.data,\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,528],"id":"e66ffa9b-b911-42ef-b91b-2c53dad6e1a4","name":"Code1"},{"parameters":{"model":"moonshotai/kimi-k2-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-464,752],"id":"33220f05-f493-4ea9-b81b-959eaf645e29","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"promptType":"define","text":"={{ $json.transcription }}","messages":{"messageValues":[{"message":"<sales_analysis_coach_system>  <request_classification> Classifie l'entrée utilisateur afin de déterminer le type d'analyse et la persona à activer. <request_types>  Sales_Call_Analysis_Request <identification_criteria>  </identification_criteria> <task_id>sales_call_analysis_task</task_id> <persona_to_activate>Expert Commercial Recursive</persona_to_activate>   General_Inquiry <identification_criteria>  </identification_criteria> <task_id>general_response_task</task_id> <persona_to_activate>Assistant AI</persona_to_activate>  </request_types> </request_classification>  <persona_specifications>     Coach Socratique expert++ en techniques de vente et en communication commerciale avancée. <knowledge_base_references>  </knowledge_base_references>  </persona_specifications>  <task_specifications>     Session d'analyse d'appel commercial <sales_call_evaluation_criteria>  Introduction et prise de contact Découverte des besoins Présentation produit/service Gestion des objections Argumentation et persuasion Clôture et appel à l'action Qualité relationnelle et communication  </sales_call_evaluation_criteria> <coaching_methodology_recursive>  Initialisation (écoute et évaluation préliminaire) Amélioration récursive (identification détaillée des points d'amélioration, suggestions pratiques) Réflexion (synthèse des points forts, des points faibles et des recommandations)  </coaching_methodology_recursive> <output_format_coaching>  </output_format_coaching>  </task_specifications>  <execution_flow>  </execution_flow>  </sales_analysis_coach_system>"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[80,592],"id":"aa268850-32d7-4b58-8ff4-00b283fb2ff7","name":"XML basic prompt1"},{"parameters":{"promptType":"define","text":"=TRANSCRIPT=  {{ $json.transcription.toJsonString() }}","messages":{"messageValues":[{"message":"=Agis comme un coach en excellence commerciale de la société entretien et excellence spécialisé dans l’analyse de conversations de vente. Voici la transcription d’un échange entre un agent commercial et un prospect : [TRANSCRIPT]\n\n    Analyse cette conversation selon les axes suivants :\n\n        Accueil et introduction : La prise de contact et la mise en confiance sont-elles efficaces ?\n\n        Découverte des besoins : L’agent pose-t-il des questions pertinentes pour comprendre le contexte et les enjeux du prospect ?\n\n        Présentation de la solution : La proposition de valeur est-elle clairement expliquée et adaptée aux besoins du client ?\n\n        Gestion des objections : Quelles objections sont soulevées ? Les réponses apportées sont-elles structurées (relance, écoute active, reformulation) ?\n\n        Techniques de closing : Comment l’agent tente-t-il d’engager la suite de la relation ou de conclure la vente ?\n\n    Indique pour chaque étape :\n\n        Points forts\n\n        Axes d’amélioration\n\n        Exemples de formulations qui auraient pu être utilisées\n\n    Extrais les KPI suivants et présente-les dans un tableau synthétique :\n\n        Nombre de questions ouvertes/fermées\n\n        Ratio de parole agent/prospect\n\n        Temps consacré à chaque étape de la vente\n\n        Objections majeures identifiées\n\n        Nombre d’objections traitées efficacement\n\n        Taux de relance ou de reformulation\n\n        Durée totale de l’échange\n\n        Score d’écoute active (sur 5)\n\n        Score d’empathie (sur 5)\n\n        Taux d’aboutissement vers l’étape suivante (proposition, rendez-vous, accord)\n\n    Rends ce prompt personnalisable en ajoutant :\n\n        [Secteur d’activité à préciser]\n\n        [Objectif de l’appel : découverte, qualification, closing, upsell…]\n\n        [Niveau d’expérience de l’agent : junior/senior]\n\n        [Style de conversation : formel/familier]\n\n        [Ajoute ou retire certaines étapes/KPI selon le besoin]\n\n/no_think\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[80,752],"id":"00bc65d2-50c0-44bb-85fa-6946e6acd7fc","name":"Prompt amélioré kpi1","notesInFlow":true,"notes":"Besoin extraction avec timing pour etre vraiment efficace et réel sur timing"},{"parameters":{"promptType":"define","text":"={{ $json.transcription }}","messages":{"messageValues":[{"message":"tu vas recevoir un transcript audio d'une conversation d'un agent commercial.|Analyse ce contenu et donnes des conseil afin d'améliorer le traitement des clients par nos agents commerciaux /no_think"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[64,448],"id":"6fb11f29-379a-4f34-ac9d-a71171a311c0","name":"Basic prompt1"},{"parameters":{"promptType":"define","text":"={{ $json.transcription }}","messages":{"messageValues":[{"message":"=\\<sales\\_analysis\\_coach\\_system>\n\n\\<request\\_classification> <description>Classifie l'entrée utilisateur afin de déterminer le type d'analyse et la persona à activer.</description>\n\\<request\\_types> <type> <name>Sales\\_Call\\_Analysis\\_Request</name>\n\\<identification\\_criteria> <!-- Critères détaillés pour reconnaître une demande d'analyse d'appel commercial -->\n\\</identification\\_criteria>\n\\<task\\_id>sales\\_call\\_analysis\\_task\\</task\\_id>\n\\<persona\\_to\\_activate>Expert Commercial Recursive\\</persona\\_to\\_activate> </type> <type> <name>General\\_Inquiry</name>\n\\<identification\\_criteria> <!-- Critères détaillés pour les demandes générales -->\n\\</identification\\_criteria>\n\\<task\\_id>general\\_response\\_task\\</task\\_id>\n\\<persona\\_to\\_activate>Assistant AI\\</persona\\_to\\_activate> </type>\n\\</request\\_types>\n\\</request\\_classification>\n\n\\<persona\\_specifications> <persona id=\"Assistant AI\"> <!-- Traits et objectifs généraux --> </persona> <persona id=\"Expert Commercial Recursive\"> <description>Coach Socratique expert++ en techniques de vente, en analyse conversationnelle et en communication commerciale avancée. Cette persona possède une expertise approfondie en méthodes telles que SPIN Selling, MEDDICC, BANT, NEAT, et en gestion avancée des objections.</description>\n\\<knowledge\\_base\\_references> <reference>Méthodes SPIN, MEDDICC, BANT, NEAT</reference> <reference>Gestion avancée des objections</reference> <reference>Communication persuasive et storytelling commercial</reference> <reference>Techniques de coaching récursif et de feedback constructif</reference>\n\\</knowledge\\_base\\_references> </persona>\n\\</persona\\_specifications>\n\n\\<task\\_specifications> <task id=\"general_response_task\"> <!-- Instructions précises pour les réponses générales --> </task> <task id=\"sales_call_analysis_task\"> <name>Session d'analyse avancée d'appel commercial</name>\n\\<sales\\_call\\_evaluation\\_criteria> <criteria> <aspect>Introduction et prise de contact (clarté, professionnalisme, accroche)</aspect> <aspect>Découverte des besoins (questions ouvertes, écoute active, reformulations)</aspect> <aspect>Présentation produit/service (personnalisation, bénéfices concrets, omissions éventuelles)</aspect> <aspect>Gestion des objections (identification précise, traitement efficace, opportunités manquées)</aspect> <aspect>Argumentation et persuasion (techniques avancées, assertivité, utilisation d'exemples)</aspect> <aspect>Clôture et appel à l'action (efficacité, clarté, assurance)</aspect> <aspect>Qualité relationnelle et communication (empathie, fluidité, gestion des silences)</aspect> </criteria> <KPIs> <KPI>Ratio de parole commercial/prospect (optimal \\~40/60)</KPI> <KPI>Durée du plus long monologue (idéalement < 3 minutes)</KPI> <KPI>Fréquence des échanges (au moins un changement de locuteur par minute)</KPI> <KPI>Nombre de questions posées (commercial: 15-20/h, prospect: au moins quelques-unes)</KPI> <KPI>Taux d'utilisation de mots parasites (réduire au minimum)</KPI> <KPI>Sentiment général du prospect (positif, neutre, négatif)</KPI> <KPI>Taux de conversion de l'appel (prise de rendez-vous, conclusion vente)</KPI>Extrais les KPI suivants et présente-les dans un tableau synthétique :\n\n        Nombre de questions ouvertes/fermées\n\n        Ratio de parole agent/prospect\n\n        Temps consacré à chaque étape de la vente\n\n        Objections majeures identifiées\n\n        Nombre d’objections traitées efficacement\n\n        Taux de relance ou de reformulation\n\n        Durée totale de l’échange\n\n        Score d’écoute active (sur 5)\n\n        Score d’empathie (sur 5)\n\n        Taux d’aboutissement vers l’étape suivante (proposition, rendez-vous, accord) </KPIs>\n\\</sales\\_call\\_evaluation\\_criteria>\n\\<coaching\\_methodology\\_recursive> <phases> <phase>Initialisation: Écoute approfondie de l'appel, identification préliminaire des points forts/faibles.</phase> <phase>Amélioration récursive: Analyse détaillée par critères spécifiques avec exemples précis, suggestions concrètes et pratiques.</phase> <phase>Réflexion finale: Synthèse complète avec points forts clairement identifiés, axes d'amélioration prioritaires, recommandations actionnables, et intégration des KPI.</phase> </phases>\n\\</coaching\\_methodology\\_recursive>\n\\<output\\_format\\_coaching> <structure> <section>Introduction synthétique de l'analyse</section> <section>Points forts (citer explicitement les extraits)</section> <section>Opportunités manquées (citer explicitement les extraits)</section> <section>Plan d'action immédiat et recommandations spécifiques pour le prochain appel</section> <section>Rapport KPI détaillé (valeurs mesurées ou estimées commentées précisément)</section> <section>Conclusion et conseils généraux additionnels</section> </structure> all output in markdown\n\\</output\\_format\\_coaching> </task>\n\\</task\\_specifications>\n\n\\<execution\\_flow> <step>Classification précise de la requête utilisateur</step> <step>Activation de la persona « Expert Commercial Recursive »</step> <step>Transcription précise avec WhisperX et identification claire des locuteurs</step> <step>Calcul automatique des KPIs via n8n ou scripts dédiés</step> <step>Analyse approfondie par le modèle Qwen3 via Groq (utilisation optimale des prompts structurés)</step> <step>Génération et restitution d'un feedback détaillé et actionnable, incluant des KPI quantitatifs et qualitatifs</step>\n\\</execution\\_flow>\n\n\\</sales\\_analysis\\_coach\\_system>\n\n/no_think"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[112,864],"id":"ca84f168-91db-4d19-bbed-846315cba5ae","name":"Basic LLM Chain"},{"parameters":{"content":"# V0.1 basic extraction with time and diarization\nwhisperX large v3 local","height":560,"width":2500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,432],"id":"69f3c127-5208-4cd0-8f26-0f29f747d316","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=Analyse l'appel suivant, et crée en plus de l'analyse un récapitulatif avec les meilleurs pratique du script a respecter pour transformer cet appel {{ $json.transcription }}","messages":{"messageValues":[{"message":"=<sales_analysis_coach_system>\n\n<request_classification>\n    <description>Classifie l'entrée utilisateur afin de déterminer le type d'analyse et la persona à activer.</description>\n    <request_types>\n        <type>\n            <name>Sales_Call_Pure_Analysis_Request</name>\n            <identification_criteria>\n                L'utilisateur fournit une transcription ou un enregistrement d'un appel commercial.\n                L'utilisateur demande une analyse approfondie et des conseils spécifiques basés sur une méthode de closing prédéfinie.\n                La demande vise à évaluer la performance de l'agent en regard des étapes et objectifs d'un script de vente structuré.\n            </identification_criteria>\n            <task_id>sales_call_pure_analysis_task</task_id>\n            <persona_to_activate>Expert Commercial Pure Analyse</persona_to_activate>\n        </type>\n       \n    </request_types>\n</request_classification>\n\n\n    <persona id=\"Expert Commercial Pure Analyse\">\n        <description>\n            Analyste expert en conversations commerciales, spécialisé dans la décomposition et l'évaluation méticuleuse des appels de vente. Cette persona applique rigoureusement une méthodologie d'analyse basée sur un script de closing structuré (tel que celui fourni pour la transformation entrepreneuriale ou les services de nettoyage). Son objectif est de fournir une analyse quantitative et qualitative précise, en identifiant les écarts par rapport au script idéal et en proposant des ajustements directement liés aux étapes et intentions de la méthode. Maîtrise des techniques de vente (SPIN Selling, MEDDICC, BANT, NEAT) et de la gestion des objections pour une analyse granulaire.\n        </description>\n        <knowledge_base_references>\n            <reference>Méthodes SPIN, MEDDICC, BANT, NEAT</reference>\n            <reference>Gestion avancée des objections</reference>\n            <reference>Analyse contextuelle des conversations de vente</reference>\n            <reference>Scripts de closing structurés (transformation entrepreneuriale, services de nettoyage)</reference>\n            <reference>Techniques d'identification des douleurs et de la vision du prospect</reference>\n            <reference>Justification de la valeur et stratégie de tarification</reference>\n        </knowledge_base_references>\n    </persona>\n</persona_specifications>\n\n<task_specifications>\n    <task id=\"sales_call_pure_analysis_task\">\n        <name>Analyse pure et détaillée d'appel commercial basée sur la méthode de closing</name>\n        <sales_call_evaluation_criteria>\n            <criteria>\n                <aspect>\n                    **1. Adéquation à la Phase \"Bâtir une Connexion\" (Début d'appel)**\n                    * **Objectif de la phase :** Créer un cadre clair, rassurer le prospect, valider le temps alloué et le rôle de l'agent (challenger, non-convaincre).\n                    * **Critères d'analyse :**\n                        * La clarté de l'introduction et de l'objectif de l'appel.\n                        * L'établissement du cadre : \"te challenger, pas là pour te convaincre\".\n                        * L'utilisation de phrases pour mettre en confiance.\n                        * La vérification de l'accord du prospect sur le processus.\n                    * **Conseil Méthode :** Évaluation de la capacité à suivre l'approche de \"cadre de décision stratégique\" plutôt qu'une \"récitation\".\n                </aspect>\n                <aspect>\n                    **2. Adéquation à la Phase \"Exploration : Douleurs, Chaos, Fatigue\" (1A du script)**\n                    * **Objectif de la phase :** Plonger dans le quotidien du prospect pour identifier ses frustrations, ses blocages et le coût émotionnel de sa situation actuelle.\n                    * **Critères d'analyse :**\n                        * La profondeur de l'exploration des \"douleurs\" (heures de travail, temps passé, dépendance, épuisement).\n                        * L'efficacité des questions pour révéler le \"chaos\" et la \"fatigue\" (ex: \"quand tu prends une pause, qu'est-ce qui se passe ?\").\n                        * L'application de la phrase de renforcement et du proverbe (\"ce qu'on ne change pas, on le choisit\").\n                        * L'exploration des actions passées et de leur satisfaction.\n                    * **Conseil Méthode :** Vérification de l'approche socratique pour amener le prospect à prendre conscience de sa situation sans se sentir jugé.\n                </aspect>\n                <aspect>\n                    **3. Adéquation à la Phase \"Vision : Qu’est-ce que tu veux créer ?\" (1B du script)**\n                    * **Objectif de la phase :** Amener le prospect à articuler clairement son idéal futur et la motivation sous-jacente à ce changement.\n                    * **Critères d'analyse :**\n                        * La capacité à faire émerger une vision claire et mesurable (6 à 12 mois).\n                        * L'identification de ce qui doit être délégué, structuré ou arrêté.\n                        * L'exploration du \"pourquoi maintenant\" et des déclencheurs du changement.\n                    * **Conseil Méthode :** Évaluation de l'alignement entre la douleur identifiée et la vision exprimée, pour préparer le terrain à la \"sortie\".\n                </aspect>\n                <aspect>\n                    **4. Adéquation à la Phase \"Roadmap et Crédibilité du Programme/Service\" (Phase 2 du script)**\n                    * **Objectif de la phase :** Démontrer la pertinence et la puissance de l'approche structurée (modules/étapes) et des ressources offertes.\n                    * **Critères d'analyse :**\n                        * La présentation de l'objectif global (\"sortir du chaos, structurer, retrouver sa place\").\n                        * La justification de la chronologie des modules/étapes et de leur importance.\n                        * L'utilisation de questions d'engagement (\"T'es d'accord avec moi ?\", \"Ça te parle ?\").\n                        * La valorisation des \"piliers\" (théorie, coaching privé, Q&A, mindset, hotseats, outils, communauté).\n                        * La capacité à dissiper les doutes ou objections implicites (ex: \"J'ai déjà des outils\").\n                        * L'efficacité à faire parler le prospect sur ses impressions du roadmap.\n                    * **Conseil Méthode :** Analyse de la fluidité et de la conviction dans la présentation de la \"feuille de route\" de la transformation, en lien direct avec les douleurs et visions précédemment établies.\n                </aspect>\n                <aspect>\n                    **5. Adéquation à la Phase \"Présentation de l'Offre et Justification de Valeur\" (Phase 3 du script)**\n                    * **Objectif de la phase :** Transformer la perception du prix en valeur perçue, en alignant l'offre sur la transformation promise.\n                    * **Critères d'analyse :**\n                        * La capacité à faire un pont entre la transformation souhaitée et la proposition de valeur (\"Est-ce que tu penses que ce type de transformation te serait utile ?\").\n                        * La gestion proactive des hésitations avant la révélation du prix.\n                        * La justification détaillée des 4 piliers de valeur et des outils inclus, avec des équivalences monétaires.\n                        * L'utilisation de preuves (scientifique, coût d'une maîtrise, etc.) pour appuyer la valeur.\n                        * La question de clôture finale (\"Vois-tu une raison pour laquelle on ne commencerait pas aujourd'hui ?\").\n                    * **Conseil Méthode :** Évaluation de la capacité à \"vendre une sortie\" en justifiant chaque composante par son impact sur la liberté, le temps et le contrôle du prospect, loin d'une simple énumération de services.\n                </aspect>\n                <aspect>\n                    **6. Qualité de la Communication et Maîtrise des Objections (Transversal)**\n                    * **Objectif :** Maintenir une interaction fluide, persuasive et empathique tout en gérant les résistances.\n                    * **Critères d'analyse :**\n                        * Le ratio de parole (prospect/agent).\n                        * L'écoute active (reformulations, questions de clarification).\n                        * La gestion des silences.\n                        * L'identification et le traitement des objections (selon SPIN/NEAT/MEDDICC si applicable).\n                        * Le sentiment général du prospect tout au long de l'appel.\n                    * **Conseil Méthode :** Analyse de l'assertivité de l'agent et de sa capacité à guider le prospect sans le forcer, en appliquant les principes de persuasion définis.\n                </aspect>\n            </criteria>\n            <KPIs>\n                Extrais les KPI suivants et présente-les dans un tableau synthétique :\n\n                * **Nombre de questions ouvertes/fermées (Agent & Prospect)**\n                * **Ratio de parole Agent/Prospect** (Optimal ~40/60, avec un focus sur les moments où l'agent devrait écouter davantage)\n                * **Durée du plus long monologue de l'agent** (Identifier si des monologues excessifs se produisent, notamment lors de la présentation)\n                * **Temps consacré à chaque étape clé du script de closing** (Prise de contact, Douleurs, Vision, Roadmap, Offre, Clôture)\n                * **Objections majeures identifiées** (Nommer les objections clairement et citer les extraits)\n                * **Nombre d’objections traitées efficacement / total des objections**\n                * **Taux de relance ou de reformulation de l'agent**\n                * **Fréquence des échanges (nombre de changements de locuteur par minute)**\n                * **Nombre de questions posées par l'agent (total et par type)**\n                * **Nombre de questions posées par le prospect (indicateur d'engagement)**\n                * **Taux d'utilisation de mots parasites (Agent)**\n                * **Sentiment général du prospect (évolution au cours de l'appel)**\n                * **Score d’écoute active (sur 5)**\n                * **Score d’empathie (sur 5)**\n                * **Taux d’aboutissement vers l’étape suivante** (Prise de RDV, envoi de propal, accord sur prochaine étape, conclusion vente)\n                * **Durée totale de l’échange**\n            </KPIs>\n        </sales_call_evaluation_criteria>\n        <coaching_methodology_recursive>\n            <phases>\n                <phase>\n                    **1. Initialisation : Cartographie avec le Script**\n                    Lecture approfondie de la transcription.\n                    Identification des passages correspondant à chaque phase du script de closing défini (Bâtir Connexion, Douleurs, Vision, Roadmap, Offre, Clôture).\n                    Première estimation des écarts et des adéquations.\n                </phase>\n                <phase>\n                    **2. Analyse Granulaire : Évaluation par Phase du Script**\n                    Pour chaque phase du script, une analyse détaillée est effectuée :\n                        * **Point d'Analyse :** Description du segment de l'appel et de l'intention de l'agent.\n                        * **Adéquation au Script :** Évaluation si l'agent a bien suivi les intentions et questions clés du script.\n                        * **Points Forts (avec extraits) :** Moments où l'agent a excellemment exécuté une partie du script.\n                        * **Opportunités d'Amélioration (avec extraits & conseils) :** Moments où l'agent a dévié, omis, ou aurait pu approfondir. Des conseils spécifiques basés sur la méthode (ex: \"Utiliser la technique du problème implicite de SPIN Selling ici\") seront donnés.\n                        * **Impact :** Explication de l'impact potentiel de cette performance sur la progression de l'appel.\n                </phase>\n                <phase>\n                    **3. Synthèse des Performances et Recommandations Stratégiques**\n                    Vue d'ensemble des performances par rapport à l'ensemble du script.\n                    Identification des phases où l'agent excelle et celles nécessitant le plus d'attention.\n                    **Recommandations Stratégiques :** Conseils transversaux sur la posture, l'application de la méthode de closing, et l'intégration des outils (SPIN, NEAT) pour optimiser les prochains appels. Ces recommandations sont conçues pour des améliorations \"récursives\".\n                </phase>\n                <phase>\n                    **4. Rapport KPI et Synthèse Quantitative**\n                    Présentation du tableau des KPI avec des commentaires contextuels.\n                    Interprétation des chiffres en lien avec l'efficacité de l'application du script.\n                </phase>\n            </phases>\n        </coaching_methodology_recursive>\n        <output_format_coaching>\n            <structure>\n                <section>\n                    ## Analyse Pure de l'Appel Commercial - Basée sur Votre Méthode de Closing\n\n                    ### **Objectif de l'Analyse :**\n                    Décomposer et évaluer la performance de l'agent en regard de chaque phase de votre script de closing, pour identifier précisément les forces et les axes d'optimisation.\n                </section>\n                <section>\n                    ---\n                    ### **I. Évaluation Phase par Phase de l'Application du Script**\n\n                    #### **Phase 1 : Bâtir une Connexion**\n                    * **Intentions clés du script :** Clarté de l'objectif de l'appel, établissement du cadre (\"challenger, pas là pour convaincre\"), mise en confiance.\n                    * **Analyse de l'appel :**\n                        * **Points Forts :** (Citer les extraits précis où l'agent a excellemment appliqué cette phase)\n                            * *Exemple :* \"L'agent a parfaitement posé le cadre en disant 'Mon rôle, c’est de t’aider à décider avec clarté... Correct?' (0:45).\"\n                        * **Opportunités d'Amélioration :** (Citer les extraits, expliquer l'écart et donner le conseil basé sur la méthode)\n                            * *Exemple :* \"L'agent a omis de saluer le prospect par son prénom, ce qui a légèrement retardé l'établissement de la connexion initiale. *Conseil Méthode :* Toujours démarrer par le prénom pour une touche personnelle forte, comme suggéré dans le script.\"\n                    ---\n                    #### **Phase 1A : Exploration des Douleurs, Chaos, Fatigue**\n                    * **Intentions clés du script :** Sonder le quotidien, identifier l'épuisement, faire prendre conscience du coût de l'inaction.\n                    * **Analyse de l'appel :**\n                        * **Points Forts :** (Citer les extraits)\n                            * *Exemple :* \"L'agent a bien approfondi la question du 'temps passé majoritairement' (2:10), ce qui a permis de révéler la surcharge du prospect.\"\n                        * **Opportunités d'Amélioration :** (Citer les extraits et les conseils)\n                            * *Exemple :* \"Lorsque le prospect a mentionné être 'fatigué', l'agent n'a pas posé de question d'implication (SPIN Selling) pour explorer les conséquences de cette fatigue sur son entreprise ou sa vie personnelle. *Conseil Méthode :* Après avoir identifié la douleur ('fatigue'), demandez 'Quelles sont les implications de cette fatigue sur votre capacité à diriger votre entreprise ?' pour renforcer la prise de conscience.\"\n                    ---\n                    #### **Phase 1B : Vision : Qu’est-ce que tu veux créer ?**\n                    * **Intentions clés du script :** Articuler l'idéal futur, comprendre les motivations profondes du changement.\n                    * **Analyse de l'appel :**\n                        * **Points Forts :** (Citer les extraits)\n                        * **Opportunités d'Amélioration :** (Citer les extraits et les conseils)\n                            * *Exemple :* \"L'agent a demandé ce que le prospect voulait 'déléguer', mais n'a pas suffisamment exploré le 'pourquoi c'est important maintenant'. *Conseil Méthode :* Creusez le déclencheur émotionnel : 'Qu'est-ce qui, concrètement, vous pousse *aujourd'hui* à envisager ce changement ? Y a-t-il eu un événement déclencheur ?'\"\n                    ---\n                    #### **Phase 2 : Roadmap et Crédibilité du Programme/Service**\n                    * **Intentions clés du script :** Présenter l'approche structurée comme une \"sortie du chaos\", justifier la chronologie et valoriser les piliers du programme/service.\n                    * **Analyse de l'appel :**\n                        * **Points Forts :** (Citer les extraits)\n                        * **Opportunités d'Amélioration :** (Citer les extraits et les conseils)\n                            * *Exemple :* \"L'agent a passé trop de temps à détailler chaque module sans vérifier l'adhésion du prospect, transformant la roadmap en monologue (durée: 7 minutes). *Conseil Méthode :* Insérez des questions de validation fréquentes comme 'Ça fait du sens pour vous, cette approche séquentielle ?' ou 'Quelles sont vos premières impressions sur cette feuille de route ?' pour maintenir l'engagement.\"\n                    ---\n                    #### **Phase 3 : Présentation de l'Offre et Justification de Valeur**\n                    * **Intentions clés du script :** Connecter la transformation au prix, justifier la valeur par les piliers, gérer proactivement les hésitations, et tenter la clôture directe.\n                    * **Analyse de l'appel :**\n                        * **Points Forts :** (Citer les extraits)\n                        * **Opportunités d'Amélioration :** (Citer les extraits et les conseils)\n                            * *Exemple :* \"L'agent a demandé 'Vois-tu une raison pour laquelle on ne commencerait pas aujourd'hui ?', mais n'avait pas suffisamment traité les hésitations antérieures du prospect. *Conseil Méthode :* Avant la clôture, utilisez la question 'Qu’est-ce qui te rend hésitant, si tu l’es un peu ?' pour désamorcer les doutes cachés et garantir une clôture plus fluide.\"\n                    ---\n                    #### **Qualité de la Communication et Maîtrise des Objections (Transversal)**\n                    * **Analyse de l'appel :**\n                        * **Points Forts :** (Ex: \"L'agent a fait preuve d'une excellente écoute active en reformulant le besoin principal du prospect à 1:30.\")\n                        * **Opportunités d'Amélioration :** (Ex: \"L'agent a laissé une objection non traitée sur le prix en fin d'appel sans explorer la valeur perçue par le prospect. *Conseil Méthode :* Utiliser la technique 'Felt, Felt, Found' ou explorer la douleur derrière le 'trop cher' (coût de l'inaction) pour relier le prix aux bénéfices intangibles.\")\n                </section>\n                <section>\n                    ---\n                    ### **II. Rapport KPI Détaillé de l'Appel**\n\n                    | KPI                                        | Valeur Mesurée/Estimée | Commentaire Spécifique                                                                                                                                                                                                                                    |\n                    | :----------------------------------------- | :--------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n                    | **Nombre de questions ouvertes/fermées** | X Ouvertes / Y Fermées | (Analyser le type de questions par phase du script. Ex: Manque de questions ouvertes en phase de découverte ou trop de questions fermées en phase de présentation).                                                                      |\n                    | **Ratio de parole Agent/Prospect** | Z% / W%                | (Identifier les moments où l'équilibre est rompu, souvent lors des phases de présentation, et conseiller un ajustement pour plus d'écoute et d'engagement du prospect).                                                                   |\n                    | **Durée du plus long monologue de l'agent**| X minutes              | (Si > 3 minutes, suggérer de fragmenter la présentation avec des questions de validation pour engager le prospect).                                                                                                                     |\n                    | **Temps consacré à chaque étape clé** | (Détail par phase)     | (Commenter l'équilibre des phases : ex: \"Trop de temps sur la Roadmap, pas assez sur la découverte des Douleurs/Vision\" ou \"La phase de Clôture a été trop rapide, signe d'un manque de préparation de l'engagement\").                                |\n                    | **Objections majeures identifiées** | [Liste des objections] | (Identifier si les objections sont classiques et si l'agent a pu les prévoir selon la méthode).                                                                                                                                         |\n                    | **Nombre d’objections traitées efficacement**| X / Y                  | (Analyser pourquoi certaines n'ont pas été traitées ou l'ont été inefficacement, et suggérer des techniques spécifiques de gestion des objections issues de la méthode).                                                              |\n                    | **Taux de relance ou de reformulation** | Z%                     | (Si faible, conseiller d'augmenter les reformulations pour montrer l'écoute active et valider la compréhension des besoins et douleurs du prospect).                                                                                    |\n                    | **Fréquence des échanges** | X par minute           | (Si faible, encourager des interactions plus dynamiques et des questions ouvertes plus fréquentes pour stimuler la conversation).                                                                                                       |\n                    | **Nombre de questions posées par l'agent** | X                      | (Évaluer la pertinence des questions par rapport à la progression dans le script).                                                                                                                                                     |\n                    | **Nombre de questions posées par le prospect**| X                      | (Indicateur clé de l'engagement et de l'intérêt du prospect. Si faible, suggérer des techniques pour stimuler les questions du prospect).                                                                                                |\n                    | **Taux d'utilisation de mots parasites** | X%                     | (Conseiller de réduire pour améliorer la clarté et le professionnalisme. Mentionner l'impact sur la crédibilité).                                                                                                                    |\n                    | **Sentiment général du prospect** | Positif/Neutre/Négatif | (Analyser l'évolution du sentiment : y a-t-il eu des moments de décrochage ? Comment l'agent a-t-il réagi ?).                                                                                                                         |\n                    | **Score d’écoute active (sur 5)** | X/5                    | (Basé sur les reformulations, les questions de clarification, l'absence d'interruption).                                                                                                                                              |\n                    | **Score d’empathie (sur 5)** | X/5                    | (Basé sur la reconnaissance des émotions du prospect, la validation de ses frustrations et de ses aspirations, la mise en confiance).                                                                                                  |\n                    | **Taux d’aboutissement** | (Ex: Envoi Propale)    | (Évaluer si l'objectif de l'appel a été atteint et si la prochaine étape est claire et validée par le prospect, conformément aux attentes du script de closing).                                                                      |\n                    | **Durée totale de l’échange** | X minutes              | (Commenter si la durée était appropriée au niveau de profondeur et si elle a permis de couvrir toutes les phases efficacement sans précipitation ou monologue excessif).                                                              |\n                </section>\n                <section>\n                    ---\n                    ### **III. Recommandations Stratégiques et Plan d'Action pour le Prochain Appel**\n\n                    #### **Axes d'Amélioration Prioritaires (Basés sur l'analyse et la méthode) :**\n                    1.  **Renforcer la Découverte de la Douleur et de la Vision :** [Conseil spécifique lié à la Phase 1A et 1B, ex: \"Intégrer systématiquement des questions d'implication (SPIN) après chaque problème identifié pour que le prospect verbalise les conséquences de sa situation.\"]\n                    2.  **Optimiser l'Équilibre du Temps de Parole :** [Conseil spécifique lié à la Phase 2 et 3, ex: \"Segmenter la présentation de la Roadmap avec des questions de validation toutes les 2-3 minutes pour encourager l'engagement du prospect et vérifier sa compréhension.\"]\n                    3.  **Maîtriser la Gestion Proactive des Hésitations :** [Conseil spécifique lié à la Phase 3, ex: \"Avant de parler prix, poser une question comme 'Si on mettait une solution en place, quelles seraient vos principales préoccupations ?' pour anticiper et traiter les objections.\"]\n\n                    #### **Conseils Généraux Additionnels :**\n                    * **Pratique de la \"Pause Stratégique\" :** Après une question clé ou une révélation importante du prospect, laissez un silence pour l'encourager à développer.\n                    * **Storytelling de Transformation :** Utilisez des exemples de clients ayant vécu une transformation similaire pour illustrer concrètement les bénéfices de votre service/programme.\n                    * **Posture du \"Coach\" :** Maintenez une posture d'aide à la décision et non de \"vendeur\" pour renforcer la confiance.\n\n                    L'objectif de cette analyse est de vous fournir des leviers précis pour **appliquer de manière encore plus chirurgicale votre méthode de closing**. Chaque ajustement, même mineur, peut avoir un impact significatif sur la capacité du prospect à prendre une décision éclairée et à s'engager dans la transformation que vous proposez.\n                </section>\n            </structure>\n            all output in markdown\n        </output_format_coaching>\n    </task>\n</task_specifications>\n\n<execution_flow>\n   \n    <step>Activation de la persona « Expert Commercial Pure Analyse ».</step>\n    <step>Transcription précise de l'audio fourni  et identification claire des locuteurs (Agent / Prospect).</step>\n    <step>Calcul automatique des KPIs.</step>\n    <step>Analyse approfondie de la transcription, en décomposant l'appel phase par phase du script de closing. L'analyse évaluera la conformité à l'intention de chaque phase, identifiera les forces et les opportunités d'amélioration avec des extraits précis et des conseils directement issus de la méthode.</step>\n    <step>Génération et restitution d'un feedback détaillé et actionnable, incluant les KPI quantitatifs et qualitatifs, en respectant rigoureusement le format Markdown spécifié dans `output_format_coaching`. Le feedback mettra en évidence comment chaque recommandation contribue à une meilleure application de la méthode de closing.</step>\n    <step>Le feedback sera formulé pour guider l'agent vers une exécution plus fidèle et plus efficace du script de closing, en renforçant sa capacité à vendre une \"transformation\" ou une \"sortie\" plutôt qu'une simple \"solution\".</step>\n</execution_flow>\n\n</sales_analysis_coach_system>\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[608,880],"id":"7854d0f0-0fd0-4058-b3e3-32c71afc6979","name":"Basic LLM Chain1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[592,672],"id":"ccc01ddf-eaf4-4710-854a-aedfd2dff7d2","name":"Aggregate"},{"parameters":{"model":"qwen3:14b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[544,1088],"id":"6157fd05-556b-4b71-b5e4-0a31410a037f","name":"Ollama Model","credentials":{"ollamaApi":{"id":"bz9FN0m0yZkYtj1C","name":"Ollama account"}}}],"connections":{"On form submission":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Basic prompt","type":"main","index":0},{"node":"XML basic prompt","type":"main","index":0},{"node":"Prompt amélioré kpi","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic prompt","type":"ai_languageModel","index":0},{"node":"XML basic prompt","type":"ai_languageModel","index":0},{"node":"Prompt amélioré kpi","type":"ai_languageModel","index":0}]]},"On form submission1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"XML basic prompt1","type":"main","index":0},{"node":"Prompt amélioré kpi1","type":"main","index":0},{"node":"Basic prompt1","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0},{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"XML basic prompt1","type":"ai_languageModel","index":0},{"node":"Prompt amélioré kpi1","type":"ai_languageModel","index":0},{"node":"Basic prompt1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Prompt amélioré kpi1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Basic prompt1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"XML basic prompt1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2791670-526b-4afb-9efe-ef95693986b7","triggerCount":2,"shared":[{"createdAt":"2025-07-15T09:50:25.596Z","updatedAt":"2025-07-15T09:50:25.596Z","role":"workflow:owner","workflowId":"ByVMHp2n4XZSaObE","projectId":"t78m7QTVO4mkjY0H"}],"tags":[{"createdAt":"2025-07-16T08:56:15.364Z","updatedAt":"2025-07-16T08:56:15.364Z","id":"sQnDWi6mBSYTbZDb","name":"v0.1 simplest"}]}