Automation/workflows/appelsstatuschange.json
{"createdAt":"2025-07-05T12:27:23.961Z","updatedAt":"2025-07-27T14:29:49.622Z","id":"uHBIcbXPv6IqKjNI","name":"appelsstatuschange","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"3cb4522c-e1a1-405d-ab58-81bd0122b799","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,-16],"id":"5c142e27-47f3-45f3-8b57-01373db6f27d","name":"Webhook","webhookId":"3cb4522c-e1a1-405d-ab58-81bd0122b799"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":"=3074","operator":{"type":"string","operation":"equals"},"id":"eb70c9e4-1ed0-4f79-a77b-87aa396c379c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Devis"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4f703303-77bf-4b92-acb5-fb41c1ff7bf4","leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":"3015","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Contacter"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d24b8cb1-6c18-4bd5-98e4-c1f17fe3f8a4","leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":"3075","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Donnees Complete"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1ae9d76b-7d6e-425e-9bc8-f643cb39727f","leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":3079,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Realisation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"57c70fc7-98b8-4d9c-a7fb-482cff295879","leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":"3156","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Livraison"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0aaceb61-86cc-4796-9996-feb866952cf6","leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":"3158","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Refus"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1a8c171d-4419-4c78-b42a-06e12f82e87d","leftValue":"={{ $json.body.items[0].Appel_result.id }}","rightValue":"3242","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Confirmation"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-464,-16],"id":"cf1f4c8f-61ca-4dfd-9a32-7d9b5ef2890a","name":"Switch"},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0]['Opportunité'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Devis"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-176,-240],"id":"26e66879-b44b-43ed-83ab-24e4317d4171","name":"Update Opportunités","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0]['Opportunité'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Realisation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-144,64],"id":"774b5a1a-aa66-4dc1-86e7-7098ee6be5fc","name":"Update Opportunités1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0]['Opportunité'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Livraison"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[32,144],"id":"dd251cad-62fa-421f-ad4a-a2db6a55fd25","name":"Update Opportunités2","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0]['Opportunité'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Refus"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[192,240],"id":"2e3b0de2-4800-4867-914f-35fca0dc8792","name":"Update Opportunités3","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0]['Opportunité'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Confirmation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-32,368],"id":"075eff18-d6a3-48f6-8b96-c15a9e68e42c","name":"Update Opportunités4","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update Opportunités","type":"main","index":0}],[],[],[{"node":"Update Opportunités1","type":"main","index":0}],[{"node":"Update Opportunités2","type":"main","index":0}],[{"node":"Update Opportunités3","type":"main","index":0}],[{"node":"Update Opportunités4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eecie.ca","user-agent":"python-requests/2.32.3","accept-encoding":"gzip, deflate, br","accept":"*/*","content-type":"application/json","x-baserow-event":"rows.updated","x-baserow-delivery":"1ba4d8dd-490e-4810-8a6b-8aaa84e8e819","origin":"https://n8n.eecie.ca","x-forwarded-proto":"https","x-forwarded-for":"172.18.0.2","x-forwarded-host":"n8n.eecie.ca","x-forwarded-server":"n8n.eecie.ca","content-length":"1260","connection":"Keep-Alive"},"params":{},"query":{},"body":{"table_id":706,"database_id":52,"workspace_id":40,"webhook_id":6,"event_id":"1ba4d8dd-490e-4810-8a6b-8aaa84e8e819","event_type":"rows.updated","items":[{"id":339,"order":"104.00000000000000000000","Id":339,"Opportunité":[{"id":292,"value":"Richard Lapointe","order":"135.00000000000000000000"}],"Employé":[{"id":3,"value":"Olivier","order":"3.00000000000000000000"}],"Date_appel":null,"Appel_result":{"id":3015,"value":"Contacter","color":"dark-brown"},"Interactions":[{"id":605,"value":"Appel Telephonique","order":"255.00000000000000000000"}],"Notes_suivi":null,"Contact":[{"id":207,"value":"207","order":"141.00000000000000000000"}]}],"old_items":[{"id":339,"order":"104.00000000000000000000","Id":339,"Opportunité":[{"id":292,"value":"Richard Lapointe","order":"135.00000000000000000000"}],"Employé":[{"id":3,"value":"Olivier","order":"3.00000000000000000000"}],"Date_appel":null,"Appel_result":{"id":3045,"value":"a_faire","color":"darker-blue"},"Interactions":[{"id":605,"value":"Appel Telephonique","order":"255.00000000000000000000"}],"Notes_suivi":null,"Contact":[{"id":207,"value":"207","order":"141.00000000000000000000"}]}]},"webhookUrl":"https://n8n.eecie.ca/webhook/3cb4522c-e1a1-405d-ab58-81bd0122b799","executionMode":"production"}}]},"versionId":"9dbcafae-3e9b-4c88-a97b-ccce09f9f4b1","triggerCount":1,"tags":[]}