Automation/workflows/assignTask.json
{"createdAt":"2025-06-16T09:54:05.342Z","updatedAt":"2025-07-05T11:29:49.710Z","id":"rEnUDaBR7LIu98fW","name":"assignTask","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,-100],"id":"d304467f-c03c-4783-9d84-35799ebaa5ea","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2280,0],"id":"47f71a6c-0122-4c30-9c81-27775be90099"},{"parameters":{"databaseId":52,"tableId":705,"additionalOptions":{"filters":{"fields":[{"field":6837,"value":"true"},{"field":6906,"operator":"single_select_equal","value":"Charger_projet"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,0],"id":"54821944-b275-4d7e-8c5c-3696dbfa3fd8","name":"getT1user","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"jsCode":"// Sort by your numeric field (say it's called \"score\")\nconst sorted = items.sort((a, b) => a.json.score - b.json.score);\nreturn [sorted[0]]; // On garde le plus petit\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"bbdf12fb-6f37-4850-8bde-b15d37c30a0c","name":"Code"},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6840,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[700,0],"id":"ec3a79d8-b390-40dd-9146-3fd1fafce25d","name":"AssignEmploye","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":705,"rowId":"={{ $('Code').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6838,"fieldValue":"={{ Number($('Code').item.json.Task_in_progress) + 1 }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,0],"id":"27c546bd-5b10-4189-a5d3-4a966a9f68e9","name":"EmployeeCtaskupdater","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,-60],"id":"72735e83-99dc-4c9e-949a-d5fc54b2ce55","name":"Schedule Trigger"},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Get many rows').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Assigner"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,0],"id":"06d71bd6-328c-4a90-b2b9-1ee089521041","name":"set_task_status_assigner","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"databaseId":52,"tableId":703,"additionalOptions":{"filters":{"fields":[{"field":6828,"operator":"single_select_equal","value":"3007"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-220,-100],"id":"5add4066-3bbc-4c9f-88cc-6ef6229dcb83","name":"Get many rows","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fd26351-7a61-40d3-a000-727acde09ec4","leftValue":"={{ $json.Attachement[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,-280],"id":"d00d446d-bbfd-4768-a86b-3178de2c7f24","name":"If"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Verifier Attachement et Contacts"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"haute"},{"fieldId":6886,"fieldValue":"={{ $json.T1_user[0].id }}"},{"fieldId":6884,"fieldValue":"={{ $json.contactId }}"},{"fieldId":6885,"fieldValue":"={{ $json['opportunités'][0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1860,-80],"id":"b9ae4ab3-fb69-45d7-ac8d-7872e2d63317","name":"Create a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ec94fbfb-9c08-4548-ab55-ebddbc8e1858","name":"Attache","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-440],"id":"0d6eea19-a87a-45d0-8c59-f2d6874e1aa1","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a57d832-8f97-488f-9cb0-ea29863b3be4","leftValue":"={{ $('Edit Fields').item.json.Attache }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,0],"id":"30d24547-af8e-4618-99b9-9158ae18bbcc","name":"If1","onError":"continueRegularOutput"},{"parameters":{"operation":"update","databaseId":52,"tableId":710,"rowId":"={{ $json.Contacts[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6949,"fieldValue":"={{ $('AssignEmploye').item.json.T1_user[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1360,0],"id":"697ccafa-e678-4e3d-8c64-fa274da650ed","name":"updateoppcontacttouser","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"getT1user":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AssignEmploye","type":"main","index":0}]]},"AssignEmploye":{"main":[[{"node":"EmployeeCtaskupdater","type":"main","index":0}]]},"EmployeeCtaskupdater":{"main":[[{"node":"set_task_status_assigner","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"set_task_status_assigner":{"main":[[{"node":"updateoppcontacttouser","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"getT1user","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"getT1user","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"updateoppcontacttouser":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a36448e3-d10d-4d6e-b62c-1a2cb7b3d3d5","triggerCount":1,"tags":[{"createdAt":"2025-06-18T06:36:03.059Z","updatedAt":"2025-06-18T06:36:03.059Z","id":"ExAdQpqJUNQNCeyD","name":"verifsendmail"}]}