Automation/workflows/baserow_status_change_devis.json
{"createdAt":"2025-06-17T18:49:02.264Z","updatedAt":"2025-08-04T07:11:19.619Z","id":"Rf8iuo05v5aRTYXv","name":"baserow_status_change_devis","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Create_devis","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"8c9f1851-ceb8-4f07-bbf1-cd393419df59","name":"Webhook","webhookId":"12e59bab-456e-4ca6-b28c-c59c34fc1b65"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Création Devis"},{"fieldId":6886,"fieldValue":"={{ $('Webhook').item.json.body.items[0].T1_user[0].id }}"},{"fieldId":6884,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Contacts[0].id }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"haute"},{"fieldId":6885,"fieldValue":"={{ $json.Task_input[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2400,-544],"id":"06ca507e-385f-4a54-af29-d4b059e7ca4c","name":"CreationTacheDevis","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":704,"fieldsUi":{"fieldValues":[{"fieldId":6833,"fieldValue":"={{ $json.body.items[0].id }}"},{"fieldId":6831,"fieldValue":"true"},{"fieldId":6843,"fieldValue":"Creation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2176,-544],"id":"aa090356-0151-4685-b8cd-df14ce6867fb","name":"CreationDevis","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.items[0].Status.value }}","rightValue":"Devis","operator":{"type":"string","operation":"equals"},"id":"74141805-91ad-47df-a178-fb41ce3e76dd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Devis"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6496fb70-30ca-4cde-8f6a-4e020c3e4e6b","leftValue":"={{ $json.body.items[0].Status.value }}","rightValue":"Traitement","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Traitement"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b8160d2-f3ef-4c26-ab64-0b5a068081bc","leftValue":"={{ $json.body.items[0].Status.value }}","rightValue":"Verification","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verification"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3b4d629-5594-4c40-a73f-9a4ec2c52a38","leftValue":"={{ $json.body.items[0].Status.value }}","rightValue":"Soumission","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Soumission"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57f32033-d4f1-4c02-b86f-f132e5368fec","leftValue":"={{ $json.body.items[0].Status.id }}","rightValue":3011,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Confirmation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45a19292-a8c4-4603-b27a-5740ba9af201","leftValue":"={{ $json.body.items[0].Status.id }}","rightValue":3037,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Assigner"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d38e05c4-cc5c-40cc-8ef4-e6ebce48e2c4","leftValue":"={{ $json.body.items[0].Status.id }}","rightValue":3076,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Realisation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d99eefa-91b4-40ee-ba0d-b5ca321467e4","leftValue":"={{ $json.body.items[0].Status.id }}","rightValue":3155,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Livraison"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2936d938-ba29-4981-8b4f-7df31e2e8899","leftValue":"={{ $json.body.items[0].Status.id }}","rightValue":3010,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Refus"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,64],"id":"71cd43d4-5c1e-4ec7-bc4d-32616d350734","name":"Switch"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Contacter Client"},{"fieldId":6886,"fieldValue":"={{ $('Webhook').item.json.body.items[0].T1_user[0].id }}"},{"fieldId":6884,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Contacts[0].id }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"haute"},{"fieldId":6885,"fieldValue":"={{ $json.body.items[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2032,-320],"id":"7d26779a-128c-4200-a16e-0619941b04ec","name":"CreationTacheContacterclient","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":715,"fieldsUi":{"fieldValues":[{"fieldId":6940},{"fieldId":6944,"fieldValue":"={{ $('CreationDevis').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2592,-528],"id":"84bb4876-3560-46da-9332-958ea9cc9abf","name":"createdummyarticle","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Valider Devis"},{"fieldId":6886,"fieldValue":"={{ $json.body.items[0].T1_user[0].id }}"},{"fieldId":6884,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Contacts[0].id }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"haute"},{"fieldId":6885,"fieldValue":"={{ $json.body.items[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1936,-128],"id":"d7f182b3-8f60-440a-9814-dd4191942393","name":"CreationTacheValidationDevis","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Soumission"},{"fieldId":6870,"fieldValue":"=Contactez :  {{ $('Webhook').item.json.body.items[0].NomClient }} au  {{ $('Webhook').item.json.body.items[0].Tel }} soumission Devis {{ $('Webhook').item.json.body.items[0].Devis[0].id }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6885,"fieldValue":"={{ $json.body.items[0].id }}"},{"fieldId":6886,"fieldValue":"={{ $json.body.items[0].T1_user[0].id }}"},{"fieldId":6884,"fieldValue":"={{ $json.body.items[0].Contacts[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1936,80],"id":"1d75c054-0b8c-4da4-8773-085ced26db8d","name":"Creation tache soumission (debut vente)","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":711,"fieldsUi":{"fieldValues":[{"fieldId":6863,"fieldValue":"Appel Telephonique"},{"fieldId":6864,"fieldValue":"={{ $now }}"},{"fieldId":6882,"fieldValue":"={{ $('Webhook').item.json.body.items[0].id }}"},{"fieldId":6880,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Contacts[0].id }}"},{"fieldId":6883,"fieldValue":"={{ $('Webhook').item.json.body.items[0].T1_user[0].id }}"},{"fieldId":6908,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Appels[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2128,80],"id":"20fffd0f-fda9-4799-b9a7-57ba77e72110","name":"creation interaction (appel)","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21f42c63-be25-43e5-abad-4ef7691f3ec3","leftValue":"={{ $('Webhook').item.json.body.items[0].Devis[0] }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,-496],"id":"1178b23c-a23a-4016-9dba-d1c1971c4783","name":"If"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Réalisation projet"},{"fieldId":6885,"fieldValue":"={{ $('Webhook').item.json.body.items[0].id }}"},{"fieldId":6870,"fieldValue":"=Phase de réalisation :\n\nVérifier que le fournisseurs est bien assigné au devis.\nVérifier Date de réalisation avec le fournisseur du Devis {{ $('Webhook').item.json.body.items[0].Devis[0].id }}  et le client {{ $('Webhook').item.json.body.items[0].Contacts[0].id }} "},{"fieldId":6886,"fieldValue":"={{ $json.body.items[0].T1_user[0].id }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6871,"fieldValue":"={{ $now.plus(2,'days') }}"},{"fieldId":6884,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Contacts[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1936,352],"id":"a8199a9e-0bc8-43f7-9f1e-c266bf61d56d","name":"CreateTacheRealisation","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Livraison Projet"},{"fieldId":6885,"fieldValue":"={{ $('Webhook').item.json.body.items[0].id }}"},{"fieldId":6870,"fieldValue":"=Phase de Livraison :\n\n"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6871,"fieldValue":"={{ $now.plus(2,'days') }}"},{"fieldId":6886,"fieldValue":"={{ $('Webhook').item.json.body.items[0].T1_user[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1952,688],"id":"f3cf8e58-c625-405d-9763-43c65b3451f0","name":"CreateTacheLivraison","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2960,224],"id":"4b5b5bb8-ac99-477b-b3e0-91db859af2e2","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[7056,304],"id":"67d07250-ba03-4c6b-acad-1994b6dc6aa2"},{"parameters":{"operation":"get","databaseId":52,"tableId":710,"rowId":"={{ $json.body.items[0].Contacts[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3504,160],"id":"c089abbb-a9f9-400d-997b-2a25a90ef763","name":"Get Contact","alwaysOutputData":false,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","databaseId":52,"tableId":704,"rowId":"={{ $json.body.items[0].Devis[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3376,272],"id":"fb0530a6-d3e9-4461-a0ff-b554d8063bd9","name":"Get Devis","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3760,208],"id":"47479149-318b-404a-8efb-d9ba4e81731f","name":"Merge"},{"parameters":{"promptType":"define","text":"=Voici les informations a ta disposition :\n\nFormat du mail html\n\nNom du client : {{ $json.Nom }}\nAdresse Email : {{ $json.Email }}\n{{ $('Loop Over Items').item.json.body.items[0].Travaux }}\n\n\n<a href=\\\"{{ $json.File[0].url }}\\\">{{ $('Get Devis').item.json.File[0].visible_name }}</a>\n\n\nla signature est l'utilisateur : {{ $json.T1_user[0].value }}\nCrée le mail pour l'envois de ce devis soit professionnel et amical\nAucune explication je le corps du mail et le sujet une simple structure json.\n\npas de préfixe python''' ni aucun texte autre que\n\n{\n  \"sujet\": str,\n  \"data\": str,\n  \"email\": str,\n  \n}\n/no_think","messages":{"messageValues":[{"message":"=You are a text-processing expert. Your task is to transform raw JSON data (exported from a CRM like Baserow) into a well-structured Python dictionary that will be used to fill a Jinja2  template.\n\nThe goal is to generate a professional email for a client. The final output must be a single Python dict with the following structure:\n\n{\n  \"sujet\": str,\n  \"data\": str,\n  \"email\": str,\n  \n}\n--- TASK ---\n\nStep 1. Carefully analyze the input data.\nStep 2. Extract the relevant information and format the values correctly.\nStep 3. Output only the final dictionary, nothing else IMPORTANT no prefixe like python''''''' or code '''''' etc .\n\nInput data (from CRM):\n\n[INSERT RAW JSON HERE]\n/no_think"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[4048,128],"id":"1039615a-0b22-4ada-b2b4-bcfef6de1f7d","name":"Basic LLM Chain"},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[4048,304],"id":"aa0258fb-7d61-46af-bbb1-ad4237d9e01e","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":711,"fieldsUi":{"fieldValues":[{"fieldId":6863,"fieldValue":"Email"},{"fieldId":6864,"fieldValue":"={{ $now }}"},{"fieldId":6865,"fieldValue":"={{ $json.structuredData.sujet }}\n\n{{ $json.structuredData.email }}\n\n{{ $json.structuredData.data }}\n\nFichier Devis \n<a href=\"{{ $('Merge').item.json.File[0].url}}\">{{ $('Merge').item.json.File[0].visible_name }}</a>\n"},{"fieldId":6908,"fieldValue":"={{ $('Merge').item.json.Appels[0].id }}"},{"fieldId":6880,"fieldValue":"={{ $('Merge').item.json.contactId }}"},{"fieldId":6882,"fieldValue":"={{ $('Merge').item.json['opportunités'][0].id }}"},{"fieldId":6914,"fieldValue":"True"},{"fieldId":6868,"fieldValue":"True"},{"fieldId":6867,"fieldValue":"={{ $('Get Devis').item.json.File[0].name}}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[5312,64],"id":"55570b66-bddc-4ca3-8c48-840594867485","name":"Create interaction mail complete","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Merge').item.json['opportunités'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Attente"},{"fieldId":7218,"fieldValue":"True"},{"fieldId":7219,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[5536,64],"id":"eeb6c41f-ec17-444f-8b4d-a2430cc275a8","name":"Update Task_input status","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"jsCode":"// Get the raw string output from the previous node\n// Replace 'llm_response_field' with the actual name of the field containing the text\nconst rawResponse = $('Basic LLM Chain').item.json.text;\n// This regular expression finds the <think> block and any whitespace after it\n// It's designed to be robust even if the think block has content or newlines\nconst regex = /<think>[\\s\\S]*?<\\/think>\\s*/;\n\n// Remove the matched <think> block from the string\nconst cleanedString = rawResponse.replace(regex, '');\n\n// Now that we have a clean JSON string, parse it into a JavaScript object\nconst jsonData = JSON.parse(cleanedString);\n\n// Return the parsed data in a new field called 'structuredData'\n// This makes it easy to reference in the next node\nreturn {\n  structuredData: jsonData\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4480,80],"id":"7a489e56-6005-47c2-a0e5-68e474650676","name":"Clean and Parse LLM Response"},{"parameters":{"jsCode":"const nodemailer = require('nodemailer');\nconst imaps = require('imap-simple');\n// On importe la bonne fonction depuis le module, comme corrigé précédemment\nconst { createMimeMessage } = require('mail-mime-builder');\n\n// --- RÉCUPÉRATION DES DONNÉES ENTRANTES ---\nconst item = $input.first();\n// ===================================================================\n//  EMAIL TEMPLATE (Basé sur le Look & Feel du PDF)\n// ===================================================================\nconst emailTemplate = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>__SUJET_PLACEHOLDER__</title>\n    <style>\n        body {\n            font-family: 'Helvetica Neue', Arial, sans-serif;\n            font-size: 11pt;\n            color: #333;\n            margin: 0;\n            padding: 0;\n            background-color: #f4f7f6;\n        }\n        .wrapper {\n            width: 100%;\n            background-color: #f4f7f6;\n            padding: 20px;\n            box-sizing: border-box;\n        }\n        .container {\n            max-width: 700px;\n            margin: auto;\n            background-color: #ffffff;\n            border: 1px solid #ddd;\n            border-radius: 5px;\n            overflow: hidden;\n        }\n        .header {\n            padding: 25px 30px;\n            display: flex;\n            justify-content: space-between;\n            align-items: flex-start;\n            background-color: #f8f8f8;\n            border-bottom: 1px solid #eee;\n        }\n        .company-info {\n            line-height: 1.4;\n            font-size: 9pt;\n            color: #555;\n        }\n        .company-name {\n            font-size: 20pt;\n            font-weight: bold;\n            color: #333;\n            margin-bottom: 8px;\n        }\n        .content {\n            padding: 30px;\n            line-height: 1.6;\n        }\n        .content a {\n            color: #2E75B5;\n            font-weight: bold;\n            text-decoration: none;\n        }\n        .content a:hover {\n            text-decoration: underline;\n        }\n        .footer {\n            padding: 20px 30px;\n            text-align: center;\n            font-size: 9pt;\n            color: #888;\n            background-color: #f8f8f8;\n            border-top: 1px solid #eee;\n        }\n        .footer a {\n            color: #2E75B5;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"wrapper\">\n        <div class=\"container\">\n            <div class=\"header\">\n                <div>\n                    <div class=\"company-name\">Excellence Executive Cie</div>\n                    <div class=\"company-info\">\n                        1016 Rue Melançon, Saint-Jérôme QC J7J6X7<br>\n                        +1 514 268-4393 | info@ee-cie.ca\n                    </div>\n                </div>\n            </div>\n            <div class=\"content\">\n                __BODY_PLACEHOLDER__\n            </div>\n            <div class=\"footer\">\n                <p>\n                    <a href=\"https://ee-cie.ca\">https://ee-cie.ca</a><br>\n                    NEQ: 742845506RT0001 | TVQ: 4012787052\n                </p>\n                <p>Cet e-mail est un message de service automatisé.</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// --- LOGIQUE PRINCIPALE ---\ntry {\n  const attachmentBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  const nomFichier = item.binary['data'].fileName;\n  \n  let jsonData = item.json;\n \n const destinataire = $('Clean and Parse LLM Response').first().json.structuredData.email;\n  const sujet =  $('Clean and Parse LLM Response').first().json.structuredData.sujet;\n  const corpsGenereParLlm =  $('Clean and Parse LLM Response').first().json.structuredData.data;\n  \n  const devisUrl = $('Merge').first().json.File[0].url;\n  const devisNom = $('Merge').first().json.File[0].visible_name;\n  const lienHtmlDevis = `<br><br><p>Le document de référence est disponible en pièce jointe ou via ce lien : <a href=\"${devisUrl}\">${devisNom}</a></p>`;\n  const corpsComplet = corpsGenereParLlm + lienHtmlDevis;\n  const devisId = $('Get Devis').first().json.id;\nconst acceptanceToken = $('GenerateDevisToken').first().json.secureToken;\n\n// Construction de l'URL d'acceptation unique\nconst acceptationUrl = `https://portal.eecie.ca/wp-json/eecie-crm/v1/devis/accept?devis_id=${devisId}&token=${acceptanceToken}`;\n\n// Création du bouton HTML\nconst boutonAcceptationHtml = `\n  <br><br>\n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n    <tr>\n      <td align=\"center\">\n        <a href=\"${acceptationUrl}\" target=\"_blank\" style=\"font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; background-color: #28a745; border-radius: 5px; padding: 15px 25px; border: 1px solid #28a745; display: inline-block; font-weight: bold;\">\n          ✔ Accepter ce devis numériquement\n        </a>\n      </td>\n    </tr>\n  </table>\n  <br>\n  <p style=\"text-align: center; font-size: 12px; color: #888;\">En cliquant sur ce bouton, vous acceptez les termes et conditions de ce devis.</p>\n`;\n\n// On ajoute le bouton au corps de l'e-mail\nconst corpsAvecBouton = corpsComplet + boutonAcceptationHtml;\n\n// On injecte le tout dans le template final\nlet finalHtml = emailTemplate.replace('__BODY_PLACEHOLDER__', corpsAvecBouton);\nfinalHtml = finalHtml.replace('__SUJET_PLACEHOLDER__', sujet);\n \n  const smtpUser = jsonData.Email;\n  const smtpPass = jsonData.decrypted_password;\n  const mailHost = \"eecie.ca\";\n\n  const mailOptions = {\n    from: `\"Excellence Executive Cie\" <${smtpUser}>`, // From Name amélioré\n    to: destinataire,\n    subject: sujet,\n    html: finalHtml,\n    attachments: [{\n      filename: nomFichier,\n      content: attachmentBuffer,\n      contentType: 'application/pdf',\n    }],\n  };\n  \n  const emailValide = $input.first().json.structuredData.email;\n  const action = emailValide ? 'send' : 'draft';\n  \n  const authConfig = { smtpUser, smtpPass, mailHost };\n  let result;\n\n  if (action === 'draft') {\n    result = await saveToMailbox(mailOptions, authConfig, 'Drafts');\n  } else {\n    result = await sendAndSaveEmail(mailOptions, authConfig, 'Sent');\n  }\n  \n  return [{ json: result }];\n  \n} catch (error) {\n  console.error(error);\n  throw error;\n}\n\n// --- FONCTIONS D'AIDE (Aucun changement ici, à conserver telles quelles) ---\n\nasync function sendAndSaveEmail(mailOptions, authConfig, sentMailboxName) {\n  const transporter = nodemailer.createTransport({\n    host: authConfig.mailHost, port: 587, secure: false,\n    auth: { user: authConfig.smtpUser, pass: authConfig.smtpPass },\n    tls: { rejectUnauthorized: false }\n  });\n\n  const info = await transporter.sendMail(mailOptions);\n  console.log(`Email envoyé avec succès à ${mailOptions.to}. MessageId: ${info.messageId}`);\n  \n  try {\n    await saveToMailbox(mailOptions, authConfig, sentMailboxName);\n    return { success: true, message: `Mail envoyé à ${mailOptions.to} et sauvegardé dans '${sentMailboxName}'`, messageId: info.messageId };\n  } catch (imapError) {\n    console.error(`L'email a été envoyé, mais la sauvegarde dans '${sentMailboxName}' a échoué:`, imapError.message);\n    return { success: true, message: `Mail envoyé à ${mailOptions.to} mais échec de la sauvegarde.`, warning: imapError.message, messageId: info.messageId };\n  }\n}\n\nasync function saveToMailbox(mailOptions, authConfig, mailboxName) {\n  const msg = createMimeMessage();\n  msg.setSender(mailOptions.from);\n  msg.setTo(mailOptions.to);\n  msg.setSubject(mailOptions.subject);\n  \n  msg.addMessage({ contentType: 'text/html', data: mailOptions.html });\n  \n  if (mailOptions.attachments && mailOptions.attachments.length > 0) {\n    const attachment = mailOptions.attachments[0];\n    const attachmentBase64 = attachment.content.toString('base64');\n    msg.addAttachment({\n      filename: attachment.filename,\n      contentType: attachment.contentType,\n      data: attachmentBase64,\n      headers: { 'Content-Transfer-Encoding': 'base64' }\n    });\n  }\n  \n  const rawEmail = msg.asRaw();\n  const flags = mailboxName === 'Drafts' ? ['\\\\Draft', '\\\\Seen'] : ['\\\\Seen'];\n\n  const config = {\n    imap: {\n      user: authConfig.smtpUser, password: authConfig.smtpPass,\n      host: authConfig.mailHost, port: 993, tls: true,\n      tlsOptions: { rejectUnauthorized: false }\n    }\n  };\n\n  let connection;\n  try {\n    connection = await imaps.connect(config);\n    await connection.append(rawEmail, { mailbox: mailboxName, flags: flags });\n    connection.end();\n    return { success: true, message: `Email sauvegardé avec succès dans '${mailboxName}'` };\n  } catch (err) {\n    if (connection) connection.end();\n    throw new Error(`Erreur IMAP: Impossible de sauvegarder dans '${mailboxName}'. Détails: ${err.message}`);\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6592,144],"id":"76d60d9b-9a93-4345-88b7-7c705dee3a7c","name":"Code"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst SECRET_KEY = $env['GCE_SHARED_SECRET_KEY'];\nconst IV = $env['GCE_SHARED_IV'];\nconst ALGORITHM = 'aes-256-cbc';\n\nif (!SECRET_KEY || SECRET_KEY.length !== 32) {\n  throw new Error(\"ERREUR: GCE_SHARED_SECRET_KEY est manquante ou n'a pas une longueur de 32 caractères.\");\n}\nif (!IV || IV.length !== 16) {\n  throw new Error(\"ERREUR: GCE_SHARED_IV est manquante ou n'a pas une longueur de 16 caractères.\");\n}\n// --- FIN BLOC DE DEBUG ---\n\nconst item = items[0].json;\nconst encryptedData = item.sec1;\n\n\n\nif (!encryptedData) {\n \n  item.decrypted_password = null;\n  return [item];\n}\n\ntry {\n  const decipher = crypto.createDecipheriv(ALGORITHM, Buffer.from(SECRET_KEY), Buffer.from(IV));\n\n  let decrypted = decipher.update(encryptedData, 'base64', 'utf8');\n  decrypted += decipher.final('utf8');\n  \n  \n  item.decrypted_password = decrypted;\n\n} catch (error) {\n\n  throw error;\n}\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6096,64],"id":"f87dbd6b-94a0-4c1d-ac74-478acb8cbe07","name":"get imap password"},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Merge').item.json['opportunités'][0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Erreur"},{"fieldId":7222,"fieldValue":"=Confirmation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[5568,-160],"id":"7d66e05c-1cc5-4489-89b7-4567af890f64","name":"Update Task_input status1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"url":"={{ $json.File[0].url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,352],"id":"9398c695-3c43-4381-aae1-cfd08196d99b","name":"HTTP Request"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6336,144],"id":"1ae1d54d-2e66-45aa-9fb4-fb55b508205c","name":"Merge1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.hasEmailTrue = false;\n}\n$workflow.emailValide = false;\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,-208],"id":"5eff2650-c82e-4192-a302-85cf91ba5b17","name":"Code2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.hasEmailTrue = true;\n}\n$workflow.emailValide = true;\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4848,-16],"id":"d42c1625-2b52-41cf-be0a-42f422248606","name":"Code3"},{"parameters":{"operation":"get","databaseId":52,"tableId":705,"rowId":"={{ $json.T1_user[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[5888,64],"id":"0519bbb8-9179-44d7-955a-cb38d21e26ab","name":"Get a row1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8dabe658-e545-4e51-99ad-8676e9e9afc7","leftValue":"={{ $('Get Contact').item.json.Email }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"1c102299-47f0-4d77-b145-90f93e998c66","leftValue":"={{ $('Get Contact').item.json.Email }}","rightValue":"example.com","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4640,-112],"id":"24e458e7-c93d-4f04-8cac-2d5df54b5050","name":"si pas de mail addr1"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"MAIL MANQUANT"},{"fieldId":6886,"fieldValue":"={{ $('Merge').item.json.T1_user[0].id }}"},{"fieldId":6884,"fieldValue":"={{ $('Get Contact').item.json.id }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"Urgence"},{"fieldId":6885,"fieldValue":"={{ $('Merge').item.json['opportunités'][0].id }}"},{"fieldId":6870,"fieldValue":"=Addresse Mail pour le Contacte {{ $('Get Contact').item.json.Nom }} =>{{ $('Get Contact').item.json.id }} \n\nDévis non envoyé !\n{{ $('Get Devis').item.json.id }}\n\n{{ $('Get Devis').item.json.File[0].url }}"},{"fieldId":6871,"fieldValue":"={{ $now.plus(1, 'days') }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[5312,-144],"id":"2a8011d4-d786-4675-a395-2c4f70df4163","name":"CreationTacheMailAbsent1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6e052f9-9613-4788-a252-a57d43a86382","leftValue":"={{ $json.body.items[0].Appels.Appels[0].id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,-304],"id":"5356b467-3fe9-4626-82d0-6b19653ed4bd","name":"If1"},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('hex');\n\n// On récupère le premier item en entrée\nconst item = $input.first();\n\n// On ajoute notre nouvelle propriété 'secureToken' directement à l'objet json de l'item\nitem.json.secureToken = token;\n\n// On retourne l'ensemble des items (avec notre item modifié)\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3776,592],"id":"a03c58f7-a9a2-455d-bb84-a0d961f1b838","name":"GenerateDevisToken"},{"parameters":{"operation":"update","databaseId":52,"tableId":704,"rowId":"={{ $('Merge').item.json.DevisId }}","fieldsUi":{"fieldValues":[{"fieldId":7380,"fieldValue":"={{ $json.secureToken }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3968,592],"id":"fcac914f-15c6-4e8e-98fd-cf74268b73aa","name":"Update a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"CreationDevis":{"main":[[{"node":"CreationTacheDevis","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"CreationTacheValidationDevis","type":"main","index":0}],[{"node":"Creation tache soumission (debut vente)","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}],[],[{"node":"CreateTacheRealisation","type":"main","index":0}],[{"node":"CreateTacheLivraison","type":"main","index":0}],[]]},"CreationTacheContacterclient":{"main":[[]]},"CreationTacheDevis":{"main":[[{"node":"createdummyarticle","type":"main","index":0}]]},"Creation tache soumission (debut vente)":{"main":[[{"node":"creation interaction (appel)","type":"main","index":0}]]},"If":{"main":[[{"node":"CreationDevis","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Contact","type":"main","index":0},{"node":"Get Devis","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Contact":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get Devis":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"GenerateDevisToken","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Clean and Parse LLM Response","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Create interaction mail complete":{"main":[[{"node":"Update Task_input status","type":"main","index":0}]]},"Update Task_input status":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"Clean and Parse LLM Response":{"main":[[{"node":"si pas de mail addr1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"get imap password":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Update Task_input status1":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code2":{"main":[[{"node":"CreationTacheMailAbsent1","type":"main","index":0},{"node":"Merge1","type":"main","index":2}]]},"Code3":{"main":[[{"node":"Create interaction mail complete","type":"main","index":0},{"node":"Merge1","type":"main","index":2}]]},"Get a row1":{"main":[[{"node":"get imap password","type":"main","index":0}]]},"si pas de mail addr1":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"CreationTacheMailAbsent1":{"main":[[{"node":"Update Task_input status1","type":"main","index":0}]]},"If1":{"main":[[{"node":"CreationTacheContacterclient","type":"main","index":0}],[]]},"GenerateDevisToken":{"main":[[{"node":"Update a row","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0}]]},"Update a row":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eecie.ca","user-agent":"python-requests/2.32.3","accept-encoding":"gzip, deflate, br","accept":"*/*","content-type":"application/json","x-baserow-event":"rows.updated","x-baserow-delivery":"81f8b0c5-b0b6-4218-8212-8c93a7bbc03a","origin":"https://n8n.eecie.ca","x-forwarded-proto":"https","x-forwarded-for":"172.18.0.2","x-forwarded-host":"n8n.eecie.ca","x-forwarded-server":"n8n.eecie.ca","content-length":"12027","connection":"Keep-Alive"},"params":{},"query":{},"body":{"table_id":703,"database_id":52,"workspace_id":40,"webhook_id":3,"event_id":"81f8b0c5-b0b6-4218-8212-8c93a7bbc03a","event_type":"rows.updated","items":[{"id":332,"order":"167.00000000000000000000","NomClient":"Timothée de Almeida","Tel":"+32467882838","Ville":"Sept-Îles","Travaux":"lavage de vitres","Status":{"id":3076,"value":"Realisation","color":"brown"},"Devis":[{"id":308,"value":"308","order":"77.00000000000000000000"}],"Attachement":[],"T1_user":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Appels":[{"id":414,"value":"414","order":"159.00000000000000000000"}],"Interactions":[{"id":804,"value":"Appel Telephonique","order":"361.00000000000000000000"},{"id":805,"value":"Appel Telephonique","order":"362.00000000000000000000"},{"id":806,"value":"Email","order":"363.00000000000000000000"}],"Taches":[{"id":1525,"value":"1525","order":"482.00000000000000000000"},{"id":1526,"value":"1526","order":"483.00000000000000000000"},{"id":1527,"value":"1527","order":"484.00000000000000000000"},{"id":1528,"value":"1528","order":"485.00000000000000000000"}],"Compte Tache":"4","Compte Interactions":"3","Dernière Interaction":"2025-08-04T07:37:00Z","Contacts":[{"id":237,"value":"237","order":"171.00000000000000000000"}],"Zone_geo":[],"Latitude":null,"Longitude":null,"Input_mail_history":[{"id":340,"value":"340","order":"264.00000000000000000000"}],"Devis_sent_client":true,"DevisSentInteractionId":"806","Dernier_status_ok":null,"Progression":"0","Reset_count":"10","Log_reset_opportunite":[{"id":128,"value":"128","order":"10.00000000000000000000"},{"id":129,"value":"129","order":"11.00000000000000000000"},{"id":130,"value":"130","order":"12.00000000000000000000"},{"id":131,"value":"131","order":"13.00000000000000000000"},{"id":132,"value":"132","order":"14.00000000000000000000"},{"id":133,"value":"133","order":"15.00000000000000000000"},{"id":134,"value":"134","order":"16.00000000000000000000"},{"id":135,"value":"135","order":"17.00000000000000000000"},{"id":136,"value":"136","order":"18.00000000000000000000"},{"id":137,"value":"137","order":"19.00000000000000000000"},{"id":138,"value":"138","order":"20.00000000000000000000"},{"id":139,"value":"139","order":"21.00000000000000000000"},{"id":140,"value":"140","order":"22.00000000000000000000"},{"id":141,"value":"141","order":"23.00000000000000000000"},{"id":142,"value":"142","order":"24.00000000000000000000"},{"id":143,"value":"143","order":"25.00000000000000000000"},{"id":144,"value":"144","order":"26.00000000000000000000"},{"id":145,"value":"145","order":"27.00000000000000000000"},{"id":146,"value":"146","order":"28.00000000000000000000"},{"id":147,"value":"147","order":"29.00000000000000000000"},{"id":148,"value":"148","order":"30.00000000000000000000"},{"id":149,"value":"149","order":"31.00000000000000000000"},{"id":150,"value":"150","order":"32.00000000000000000000"},{"id":151,"value":"151","order":"33.00000000000000000000"},{"id":152,"value":"152","order":"34.00000000000000000000"},{"id":153,"value":"153","order":"35.00000000000000000000"},{"id":154,"value":"154","order":"36.00000000000000000000"},{"id":155,"value":"155","order":"37.00000000000000000000"},{"id":156,"value":"156","order":"38.00000000000000000000"},{"id":157,"value":"157","order":"39.00000000000000000000"},{"id":158,"value":"158","order":"40.00000000000000000000"},{"id":159,"value":"159","order":"41.00000000000000000000"},{"id":160,"value":"160","order":"42.00000000000000000000"},{"id":161,"value":"161","order":"43.00000000000000000000"},{"id":162,"value":"162","order":"44.00000000000000000000"},{"id":163,"value":"163","order":"45.00000000000000000000"},{"id":164,"value":"164","order":"46.00000000000000000000"},{"id":165,"value":"165","order":"47.00000000000000000000"},{"id":166,"value":"166","order":"48.00000000000000000000"},{"id":167,"value":"167","order":"49.00000000000000000000"},{"id":168,"value":"168","order":"50.00000000000000000000"},{"id":169,"value":"169","order":"51.00000000000000000000"},{"id":170,"value":"170","order":"52.00000000000000000000"},{"id":171,"value":"171","order":"53.00000000000000000000"},{"id":172,"value":"172","order":"54.00000000000000000000"},{"id":173,"value":"173","order":"55.00000000000000000000"},{"id":174,"value":"174","order":"56.00000000000000000000"},{"id":175,"value":"175","order":"57.00000000000000000000"},{"id":176,"value":"176","order":"58.00000000000000000000"},{"id":177,"value":"177","order":"59.00000000000000000000"},{"id":178,"value":"178","order":"60.00000000000000000000"},{"id":179,"value":"179","order":"61.00000000000000000000"},{"id":180,"value":"180","order":"62.00000000000000000000"},{"id":181,"value":"181","order":"63.00000000000000000000"},{"id":182,"value":"182","order":"64.00000000000000000000"},{"id":183,"value":"183","order":"65.00000000000000000000"},{"id":184,"value":"184","order":"66.00000000000000000000"},{"id":185,"value":"185","order":"67.00000000000000000000"},{"id":186,"value":"186","order":"68.00000000000000000000"},{"id":187,"value":"187","order":"69.00000000000000000000"},{"id":188,"value":"188","order":"70.00000000000000000000"},{"id":189,"value":"189","order":"71.00000000000000000000"},{"id":190,"value":"190","order":"72.00000000000000000000"},{"id":191,"value":"191","order":"73.00000000000000000000"},{"id":192,"value":"192","order":"74.00000000000000000000"},{"id":193,"value":"193","order":"75.00000000000000000000"},{"id":194,"value":"194","order":"76.00000000000000000000"},{"id":195,"value":"195","order":"77.00000000000000000000"}]}],"old_items":[{"id":332,"order":"167.00000000000000000000","NomClient":"Timothée de Almeida","Tel":"+32467882838","Ville":"Sept-Îles","Travaux":"lavage de vitres","Status":{"id":3239,"value":"Attente","color":"dark-pink"},"Devis":[{"id":308,"value":"308","order":"77.00000000000000000000"}],"Attachement":[],"T1_user":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Appels":[{"id":414,"value":"414","order":"159.00000000000000000000"}],"Interactions":[{"id":804,"value":"Appel Telephonique","order":"361.00000000000000000000"},{"id":805,"value":"Appel Telephonique","order":"362.00000000000000000000"},{"id":806,"value":"Email","order":"363.00000000000000000000"}],"Taches":[{"id":1525,"value":"1525","order":"482.00000000000000000000"},{"id":1526,"value":"1526","order":"483.00000000000000000000"},{"id":1527,"value":"1527","order":"484.00000000000000000000"},{"id":1528,"value":"1528","order":"485.00000000000000000000"}],"Compte Tache":"4","Compte Interactions":"3","Dernière Interaction":"2025-08-04T07:37:00Z","Contacts":[{"id":237,"value":"237","order":"171.00000000000000000000"}],"Zone_geo":[],"Latitude":null,"Longitude":null,"Input_mail_history":[{"id":340,"value":"340","order":"264.00000000000000000000"}],"Devis_sent_client":true,"DevisSentInteractionId":"806","Dernier_status_ok":null,"Progression":"0","Reset_count":"10","Log_reset_opportunite":[{"id":128,"value":"128","order":"10.00000000000000000000"},{"id":129,"value":"129","order":"11.00000000000000000000"},{"id":130,"value":"130","order":"12.00000000000000000000"},{"id":131,"value":"131","order":"13.00000000000000000000"},{"id":132,"value":"132","order":"14.00000000000000000000"},{"id":133,"value":"133","order":"15.00000000000000000000"},{"id":134,"value":"134","order":"16.00000000000000000000"},{"id":135,"value":"135","order":"17.00000000000000000000"},{"id":136,"value":"136","order":"18.00000000000000000000"},{"id":137,"value":"137","order":"19.00000000000000000000"},{"id":138,"value":"138","order":"20.00000000000000000000"},{"id":139,"value":"139","order":"21.00000000000000000000"},{"id":140,"value":"140","order":"22.00000000000000000000"},{"id":141,"value":"141","order":"23.00000000000000000000"},{"id":142,"value":"142","order":"24.00000000000000000000"},{"id":143,"value":"143","order":"25.00000000000000000000"},{"id":144,"value":"144","order":"26.00000000000000000000"},{"id":145,"value":"145","order":"27.00000000000000000000"},{"id":146,"value":"146","order":"28.00000000000000000000"},{"id":147,"value":"147","order":"29.00000000000000000000"},{"id":148,"value":"148","order":"30.00000000000000000000"},{"id":149,"value":"149","order":"31.00000000000000000000"},{"id":150,"value":"150","order":"32.00000000000000000000"},{"id":151,"value":"151","order":"33.00000000000000000000"},{"id":152,"value":"152","order":"34.00000000000000000000"},{"id":153,"value":"153","order":"35.00000000000000000000"},{"id":154,"value":"154","order":"36.00000000000000000000"},{"id":155,"value":"155","order":"37.00000000000000000000"},{"id":156,"value":"156","order":"38.00000000000000000000"},{"id":157,"value":"157","order":"39.00000000000000000000"},{"id":158,"value":"158","order":"40.00000000000000000000"},{"id":159,"value":"159","order":"41.00000000000000000000"},{"id":160,"value":"160","order":"42.00000000000000000000"},{"id":161,"value":"161","order":"43.00000000000000000000"},{"id":162,"value":"162","order":"44.00000000000000000000"},{"id":163,"value":"163","order":"45.00000000000000000000"},{"id":164,"value":"164","order":"46.00000000000000000000"},{"id":165,"value":"165","order":"47.00000000000000000000"},{"id":166,"value":"166","order":"48.00000000000000000000"},{"id":167,"value":"167","order":"49.00000000000000000000"},{"id":168,"value":"168","order":"50.00000000000000000000"},{"id":169,"value":"169","order":"51.00000000000000000000"},{"id":170,"value":"170","order":"52.00000000000000000000"},{"id":171,"value":"171","order":"53.00000000000000000000"},{"id":172,"value":"172","order":"54.00000000000000000000"},{"id":173,"value":"173","order":"55.00000000000000000000"},{"id":174,"value":"174","order":"56.00000000000000000000"},{"id":175,"value":"175","order":"57.00000000000000000000"},{"id":176,"value":"176","order":"58.00000000000000000000"},{"id":177,"value":"177","order":"59.00000000000000000000"},{"id":178,"value":"178","order":"60.00000000000000000000"},{"id":179,"value":"179","order":"61.00000000000000000000"},{"id":180,"value":"180","order":"62.00000000000000000000"},{"id":181,"value":"181","order":"63.00000000000000000000"},{"id":182,"value":"182","order":"64.00000000000000000000"},{"id":183,"value":"183","order":"65.00000000000000000000"},{"id":184,"value":"184","order":"66.00000000000000000000"},{"id":185,"value":"185","order":"67.00000000000000000000"},{"id":186,"value":"186","order":"68.00000000000000000000"},{"id":187,"value":"187","order":"69.00000000000000000000"},{"id":188,"value":"188","order":"70.00000000000000000000"},{"id":189,"value":"189","order":"71.00000000000000000000"},{"id":190,"value":"190","order":"72.00000000000000000000"},{"id":191,"value":"191","order":"73.00000000000000000000"},{"id":192,"value":"192","order":"74.00000000000000000000"},{"id":193,"value":"193","order":"75.00000000000000000000"},{"id":194,"value":"194","order":"76.00000000000000000000"},{"id":195,"value":"195","order":"77.00000000000000000000"}]}]},"webhookUrl":"https://n8n.eecie.ca/webhook/Create_devis","executionMode":"production"}}]},"versionId":"3ae51deb-71e4-4c5a-9de0-a47a799cbb9e","triggerCount":1,"tags":[{"createdAt":"2025-07-08T11:08:29.776Z","updatedAt":"2025-07-08T11:08:29.776Z","id":"tgT4msglB3bwUkO3","name":"Principal"},{"createdAt":"2025-06-18T10:48:40.447Z","updatedAt":"2025-06-18T10:48:40.447Z","id":"4SxpaN7xOfwanCGp","name":"en cours"}]}