Automation/workflows/InteractionRequisSuivis.json
{"createdAt":"2025-07-05T02:33:33.952Z","updatedAt":"2025-07-09T09:25:11.064Z","id":"fB7VzelIjAUITeCG","name":"InteractionRequisSuivis","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8928e51f-83fd-4e10-b025-379c8cc4c540","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,0],"id":"cdf2b417-b67b-4643-8d3b-d10b9118d1ae","name":"Webhook","webhookId":"8928e51f-83fd-4e10-b025-379c8cc4c540"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77ba81e2-eb91-4099-bf8f-da2fac460775","leftValue":"={{ $json.body.items[0].suivi_requi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"96995443-26a7-410c-9cb9-6ab04154e1e6","leftValue":"={{ $json.body.items[0].suivi_requi }}","rightValue":"={{ $json.body.old_items[0].suivi_requi }}","operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,0],"id":"db4f51bd-3c39-4f77-ac2d-769701e0a42e","name":"If"},{"parameters":{"operation":"create","databaseId":52,"tableId":728,"fieldsUi":{"fieldValues":[{"fieldId":7078,"fieldValue":"={{ $json.body.items[0].types_interactions.value }} suivis requis"},{"fieldId":7079,"fieldValue":"={{ $now.plus(1,\"days\") }}"},{"fieldId":7080,"fieldValue":"En attente"},{"fieldId":7081,"fieldValue":"={{ $json.body.items[0].id }}"},{"fieldId":7083,"fieldValue":"={{ $json.body.items[0].effectue_par[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[200,-100],"id":"2417d6b7-9ea8-4809-ad9c-1974b2947bae","name":"Create Rappels","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create Rappels","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eecie.ca","user-agent":"python-requests/2.32.3","accept-encoding":"gzip, deflate, br","accept":"*/*","content-type":"application/json","x-baserow-event":"rows.updated","x-baserow-delivery":"1f4805be-2c9c-478e-94c8-e41acd5f113f","origin":"https://n8n.eecie.ca","x-forwarded-proto":"https","x-forwarded-for":"172.18.0.2","x-forwarded-host":"n8n.eecie.ca","x-forwarded-server":"n8n.eecie.ca","content-length":"1511","connection":"Keep-Alive"},"params":{},"query":{},"body":{"table_id":711,"database_id":52,"workspace_id":40,"webhook_id":5,"event_id":"1f4805be-2c9c-478e-94c8-e41acd5f113f","event_type":"rows.updated","items":[{"id":46,"order":"1.00000000000000000000","types_interactions":{"id":3019,"value":"Appel Telephonique","color":"darker-green"},"date_heure":"2025-07-09T08:40:07.065000Z","compte_rendu":null,"resultat":{"id":3024,"value":"Contacté","color":"darker-green"},"fichier_joint":[],"suivi_requi":true,"contact":[{"id":71,"value":"71","order":"10.00000000000000000000"}],"opportunité":[{"id":152,"value":"PLAMONDON D","order":"1.00000000000000000000"}],"effectue_par":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Appels":[{"id":47,"value":"47","order":"1.00000000000000000000"}],"duree":null,"est_automatise":false}],"old_items":[{"id":46,"order":"1.00000000000000000000","types_interactions":{"id":3019,"value":"Appel Telephonique","color":"darker-green"},"date_heure":"2025-07-09T08:40:07.065000Z","compte_rendu":null,"resultat":null,"fichier_joint":[],"suivi_requi":false,"contact":[{"id":71,"value":"71","order":"10.00000000000000000000"}],"opportunité":[{"id":152,"value":"PLAMONDON D","order":"1.00000000000000000000"}],"effectue_par":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Appels":[{"id":47,"value":"47","order":"1.00000000000000000000"}],"duree":null,"est_automatise":false}]},"webhookUrl":"https://n8n.eecie.ca/webhook/8928e51f-83fd-4e10-b025-379c8cc4c540","executionMode":"production"}}]},"versionId":"5881dcea-be29-4e2b-ae51-80e340bb20eb","triggerCount":1,"tags":[]}