Automation/workflows/Interaction_status_change.json
{"createdAt":"2025-07-08T07:56:32.014Z","updatedAt":"2025-07-27T14:23:26.946Z","id":"9V7uspkPEAHqichS","name":"Interaction_status_change","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"6f0c258a-1187-444a-b6a9-e87e6c0e596a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"3c06619b-4c58-4f1b-89d9-027523312bdc","name":"Webhook","webhookId":"6f0c258a-1187-444a-b6a9-e87e6c0e596a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.body.items[0].resultat.id }}","rightValue":"=3024","operator":{"type":"number","operation":"equals"},"id":"5dc0bfd4-96fe-40d4-9e00-8c47d68a5900"}],"combinator":"and"},"renameOutput":true,"outputKey":"Contacté"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"41d8e571-77c6-4e65-a7b0-0bf667d607b8","leftValue":"={{ $json.body.items[0].resultat.id }}","rightValue":"3027","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rendez-vous-pris"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"26d7dd77-b688-48ef-a77e-dc516a5c12c0","leftValue":"={{ $json.body.items[0].resultat.id }}","rightValue":3077,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Devis"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ccbd07e8-a2b0-4509-adea-63e57cc33c18","leftValue":"={{ $json.body.items[0].resultat.id }}","rightValue":"3078","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Realisation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"58289eb5-1616-4c8e-b096-46ff663b862a","leftValue":"={{ $json.body.items[0].resultat.id }}","rightValue":"3028","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Refus"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cd006063-edae-4dc9-ae86-b7a3f42cb5e7","leftValue":"={{ $json.body.items[0].resultat.id }}","rightValue":"3241","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Confirmation"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,0],"id":"f22b500c-27d3-4c6a-b45b-507dc7650ddb","name":"Switch"},{"parameters":{"operation":"update","databaseId":52,"tableId":706,"rowId":"={{ $json.body.items[0].Appels[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6850,"fieldValue":"Livraison"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[608,16],"id":"730f3c7c-1b3f-4b28-8e13-cffa5f51dd3a","name":"Update a row2","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":706,"rowId":"={{ $json.body.items[0].Appels[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6850,"fieldValue":"Contacter"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[608,-144],"id":"a6374bc1-795e-4a7e-8787-aca5dc746f7a","name":"Update Appels","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":706,"rowId":"={{ $('Webhook').item.json.body.items[0].Appels[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6850,"fieldValue":"Realisation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[784,400],"id":"a435aae9-33ad-46d2-89cd-4aa8daadb3c9","name":"Update","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":706,"rowId":"={{ $json.body.items[0].Appels[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6850,"fieldValue":"Devis"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[672,176],"id":"23d8b44a-2187-4166-b022-ffb580744868","name":"Update a row3","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":706,"rowId":"={{ $('Webhook').item.json.body.items[0].Appels[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6850,"fieldValue":"Refus"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[784,576],"id":"1e6a224f-b311-41ba-b6c8-3d3f12774deb","name":"Update1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":706,"rowId":"={{ $json.body.items[0].Appels[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6850,"fieldValue":"Confirmation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[432,320],"id":"ccea1983-ce23-4fc0-a926-3485e12253ff","name":"Update a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":728,"fieldsUi":{"fieldValues":[{"fieldId":7078,"fieldValue":"Vérfier le dossier "},{"fieldId":7079,"fieldValue":"={{ $now.plus(1,'days') }}"},{"fieldId":7080,"fieldValue":"En attente"},{"fieldId":7081,"fieldValue":"={{ $('Webhook').item.json.body.items[0].id }}"},{"fieldId":7083,"fieldValue":"={{ $('Webhook').item.json.body.items[0].effectue_par[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[800,-144],"id":"977e4aa6-d861-496a-a8e0-3c35d293e589","name":"Create Rappels","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update Appels","type":"main","index":0}],[{"node":"Update a row2","type":"main","index":0}],[{"node":"Update a row3","type":"main","index":0}],[{"node":"Update","type":"main","index":0}],[{"node":"Update1","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Update Appels":{"main":[[{"node":"Create Rappels","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eecie.ca","user-agent":"python-requests/2.32.3","accept-encoding":"gzip, deflate, br","accept":"*/*","content-type":"application/json","x-baserow-event":"rows.updated","x-baserow-delivery":"ca01e359-c4cd-4bb3-a597-9b1978fd82e4","origin":"https://n8n.eecie.ca","x-forwarded-proto":"https","x-forwarded-for":"172.18.0.2","x-forwarded-host":"n8n.eecie.ca","x-forwarded-server":"n8n.eecie.ca","content-length":"1627","connection":"Keep-Alive"},"params":{},"query":{},"body":{"table_id":711,"database_id":52,"workspace_id":40,"webhook_id":8,"event_id":"ca01e359-c4cd-4bb3-a597-9b1978fd82e4","event_type":"rows.updated","items":[{"id":602,"order":"253.00000000000000000000","types_interactions":{"id":3019,"value":"Appel Telephonique","color":"darker-green"},"date_heure":"2025-07-27T00:25:00Z","compte_rendu":null,"resultat":{"id":3241,"value":"Confirmation","color":"deep-dark-green"},"fichier_joint":[],"suivi_requi":false,"contact":[{"id":207,"value":"207","order":"141.00000000000000000000"}],"opportunité":[{"id":292,"value":"Richard Lapointe","order":"135.00000000000000000000"}],"effectue_par":[{"id":3,"value":"Olivier","order":"3.00000000000000000000"}],"Appels":[{"id":337,"value":"337","order":"103.00000000000000000000"}],"duree":null,"est_automatise":false,"Rappels":[],"Quality":0,"Lock":false}],"old_items":[{"id":602,"order":"253.00000000000000000000","types_interactions":{"id":3019,"value":"Appel Telephonique","color":"darker-green"},"date_heure":"2025-07-26T22:25:04.468000Z","compte_rendu":null,"resultat":null,"fichier_joint":[],"suivi_requi":false,"contact":[{"id":207,"value":"207","order":"141.00000000000000000000"}],"opportunité":[{"id":292,"value":"Richard Lapointe","order":"135.00000000000000000000"}],"effectue_par":[{"id":3,"value":"Olivier","order":"3.00000000000000000000"}],"Appels":[{"id":337,"value":"337","order":"103.00000000000000000000"}],"duree":null,"est_automatise":false,"Rappels":[],"Quality":0,"Lock":false}]},"webhookUrl":"https://n8n.eecie.ca/webhook/6f0c258a-1187-444a-b6a9-e87e6c0e596a","executionMode":"production"}}]},"versionId":"e23e8292-1f22-4725-b94c-0e034af7a0db","triggerCount":1,"tags":[]}