Automation/workflows/My workflow2.json
{"createdAt":"2025-06-16T03:53:35.579Z","updatedAt":"2025-06-16T04:42:30.822Z","id":"wlsqMNbQsQadcVYk","name":"My workflow2","active":false,"isArchived":true,"nodes":[{"parameters":{"format":"resolved","options":{"forceReconnect":5}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-700,60],"id":"f2871bf0-fd7c-4fc6-bbff-10375ef7fbe0","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"Req41dMZDKlOQw3V","name":"IMAP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"071226e0-ad2a-497d-8fee-70bf411ee937","leftValue":"={{$binary}}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,80],"id":"20c70d0f-b66f-4b09-a278-2fadbddfc318","name":"If"},{"parameters":{"jsCode":"// Avec Allow External ON\nconst FormData = require('form-data'); \nconst axios = require('axios'); \n\n// Récupère le 1er élément en entrée\nconst item = $input.all()[0];\n\n// Récupère le binaire de l'attachement \"attachment_0\"\nconst attachment = item.binary?.attachment_0;\n\nif (!attachment) {\n  throw new Error('Aucun attachement \"attachment_0\" n\\'a été trouvé dans l\\'item');\n}\n\nconst form = new FormData();\nform.append('file', Buffer.from(attachment.data, 'base64'), {\n  filename: attachment.fileName || 'photo.jpg'\n});\n\n// Envoie le formulaire en utilisant Axios\nconst res = await axios.post('https://baserow.eecie.ca/api/user-files/upload-file/', form, {\n  headers: {\n    Authorization: \"Token lJHQatf7bnw216TZwHuUpoNlbS13BjEP\",\n    ...form.getHeaders()\n  }\n});\n\n// Retourne le résultat de l'API dans le workflow\nreturn [{ json: res.data }]; \n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-100],"id":"6d14f4a5-f7a1-417b-b19d-361be0fcee4f","name":"Code","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"99bc281f-c676-4de0-b6e1-82d5b69fbfef","name":"attachemnt_url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-100],"id":"5fa4e99c-f591-49c2-8fc3-5002476a9409","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"operation":"create","databaseId":52,"tableId":703,"fieldsUi":{"fieldValues":[{"fieldId":6824,"fieldValue":"={{ $json.output.NomClient }}"},{"fieldId":6825,"fieldValue":"={{ $json.output.Tel }}"},{"fieldId":6827,"fieldValue":"={{ $json.output.Travauxdemande }}"},{"fieldId":6826,"fieldValue":"={{ $json.output.Ville }}"},{"fieldId":6834,"fieldValue":"={{ $('Code').item.json.name }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1400,-100],"id":"30951fea-01ac-468c-a5c6-ce5501d3161c","name":"with attachement","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":703,"fieldsUi":{"fieldValues":[{"fieldId":6824,"fieldValue":"={{ $json.output.NomClient }}"},{"fieldId":6825,"fieldValue":"={{ $json.output.Tel }}"},{"fieldId":6827,"fieldValue":"={{ $json.output.Travauxdemande }}"},{"fieldId":6826,"fieldValue":"={{ $json.output.Ville }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1380,260],"id":"dc8b0bac-74a2-4691-a8b3-5b76941373d5","name":"without attachement","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\ntravaux demandé par le client\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[760,80],"id":"4e9da92d-9aa1-470d-8cfe-f9257897e651","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n  \"NomClient\" : \"\",\n  \"Tel\" : \"\",\n  \"Travauxdemande\" : \"\",\n  \"Ville\" : \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,340],"id":"7194371e-8a60-40f7-83ed-80607fa8de8c","name":"Structured Output Parser"},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[760,340],"id":"03721fe1-0a6b-4ffc-bc50-dd5f5d18bca9","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-420,80],"id":"23883b2b-40b1-4b9c-ae54-966a871b57b5","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\ntravaux demandé par le client\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[720,-100],"id":"1fb8a82d-7688-484f-975e-519b7a49c651","name":"Basic LLM Chain"}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0},{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"without attachement","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"with attachement":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"without attachement":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"with attachement","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41710398-5e49-4852-af38-7eff6178cc49","triggerCount":0,"shared":[{"createdAt":"2025-06-16T03:53:35.579Z","updatedAt":"2025-06-16T03:53:35.579Z","role":"workflow:owner","workflowId":"wlsqMNbQsQadcVYk","projectId":"t78m7QTVO4mkjY0H"}],"tags":[]}