Automation/workflows/My workflow 3.json
{"createdAt":"2025-07-17T05:40:38.540Z","updatedAt":"2025-08-06T09:38:12.840Z","id":"89EGbBtoQ6LvBiss","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"058f16af-a1d0-42e7-a05e-bf8346c40767","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1392,0]},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"a4ffac20-a863-4e09-962a-87ecdfe7d28e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1392,160],"typeVersion":1.1},{"parameters":{"command":"=n8n export:credentials --backup --decrypted --output=/backups/{{$now.format(\"LL-dd-yy\") }}/credentials/temp/"},"id":"1207ab7d-56db-457e-aa3f-5285fab1611c","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[576,400]},{"parameters":{"fileSelector":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/*","options":{}},"id":"80bdb64d-9c5d-43ab-b74f-59d44414c3f6","name":"Read Credentials","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[800,400]},{"parameters":{"command":"=rm -r /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/\n\n\n"},"id":"6823e643-755c-4338-8082-571b8e0217f7","name":"Remove Temp dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,400],"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}"}},"id":"89afaf53-7163-43e1-8180-79d82e1a3d66","name":"MAKE JSON FILES","type":"n8n-nodes-base.moveBinaryData","position":[1392,704],"notesInFlow":true,"typeVersion":1},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/{{ $('Turn individual files to single json  output to get filename').item.json.data.name }}.json","options":{"append":false}},"id":"4549ec3c-92e9-4bab-b177-f34188104ac4","name":"Write individual Files in understanable name","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1392,400]},{"parameters":{"filters":{},"requestOptions":{}},"id":"3a61433a-10b2-4612-b0e1-11da541bbc42","name":"GET WORKFLOWS","type":"n8n-nodes-base.n8n","position":[1200,704],"typeVersion":1,"credentials":{"n8nApi":{"id":"liSQD8JnWgXdexbb","name":"n8n account"}}},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/workflows/{{ $node[\"GET WORKFLOWS\"].json[\"name\"] }}.json","options":{"append":false}},"id":"a7b9e905-3d8b-4dfb-89cf-f0b63122e31b","name":"Write Workflows","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,704]},{"parameters":{"content":"1. Exports the Credentials into /credentials/temp directory as individual files\n2. Renames them to the Credential Name (as opposed to credential ID)\n3. Saves to /credentials, and \n4. Deletes /credentials/temp","height":231.3877551020408,"width":1733.7346938775481},"id":"dca2db5e-c6fc-450f-ad8e-543a19c63c47","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,352]},{"parameters":{"content":"Creates a directory structure under /backups - subdir todays date, then additional subdirs for credentials and workflows.\n\nNote the /backups needs to be a directory you've created within your n8hn environment, (or in case of Docker, made available to the n8n \n container by mapping the  directory read-write) - in my case this was //volume1/docker/n8n/backups)","height":287.6326530612244,"width":1734.8163265306116},"id":"bf610250-4858-4124-bc94-8076cd9daf82","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"5. retrieves the workflows from n8n, and\n6. saves them as the workflow name under /backups/{today's date}/workflows","height":231.3877551020408,"width":1722.9183673469383},"id":"438add8f-0632-419c-a025-e029de8c0084","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,624]},{"parameters":{"command":"=mkdir /backups/{{ $now.format(\"LL-dd-yy\") }}\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/workflows\n\n"},"id":"d111a140-ab35-4a8b-95b9-14c6a020d964","name":"Create directory structures","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,112],"onError":"continueRegularOutput"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"id":"1c29c6ac-a2e9-4568-bf2f-56bb57575c75","name":"Convert back to json files","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,400]},{"parameters":{"operation":"fromJson","options":{}},"id":"8c3501e1-7fdb-46f2-9e7f-c86bb8e1aecc","name":"Turn individual files to single json  output to get filename","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[992,400]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read Credentials","type":"main","index":0}]]},"Read Credentials":{"main":[[{"node":"Turn individual files to single json  output to get filename","type":"main","index":0}]]},"Remove Temp dir":{"main":[[{"node":"GET WORKFLOWS","type":"main","index":0}]]},"MAKE JSON FILES":{"main":[[{"node":"Write Workflows","type":"main","index":0}]]},"Write individual Files in understanable name":{"main":[[{"node":"Remove Temp dir","type":"main","index":0}]]},"GET WORKFLOWS":{"main":[[{"node":"MAKE JSON FILES","type":"main","index":0}]]},"Create directory structures":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Convert back to json files":{"main":[[{"node":"Write individual Files in understanable name","type":"main","index":0}]]},"Turn individual files to single json  output to get filename":{"main":[[{"node":"Convert back to json files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85b150b5-817f-4f79-a1a9-25f4ed73a441","triggerCount":0,"tags":[{"createdAt":"2025-07-17T05:32:17.511Z","updatedAt":"2025-07-17T05:32:17.511Z","id":"mA9qS7MsT6Bd4y2S","name":"core"}]}