Automation/workflows/My workflow 5.json
{"createdAt":"2025-07-31T15:31:53.728Z","updatedAt":"2025-07-31T18:25:59.600Z","id":"ThYOtngogV1OpJlr","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-576,-16],"id":"7e4519f1-746e-4223-bb2b-04a0b2631faa","name":"When clicking ‘Execute workflow’"},{"parameters":{"databaseId":52,"tableId":703,"returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-368,-16],"id":"7928fc94-1895-46ef-8763-213968ca19f1","name":"Get many rows","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,-16],"id":"d23bd2fa-4270-4af8-b5ba-f8fc7dd8eeb3","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2800,0],"id":"9e2a06a8-411b-4400-aef2-ba7bd2454821"},{"parameters":{"promptType":"define","text":"={{ $json.mail_body }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\nadresse email du client\ntravaux demandé par le client\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[528,-48],"id":"22b14677-3501-4475-ae46-81e877451ed8","name":"Basic LLM Chain1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n  \"NomClient\" : \"\",\n  \"Tel\" : \"\",\n  \"Email\":\"\",\n  \"Travauxdemande\" : \"\",\n  \"Ville\" : \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[736,128],"id":"b34f33df-be1d-4217-b7f7-490434eb1076","name":"Structured Output Parser"},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[528,144],"id":"ef879671-5843-46e0-9f40-921cf1862620","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39b49496-51a2-4104-afdf-dc009367a612","leftValue":"={{ $json.NomClient }}","rightValue":"indefini","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-112],"id":"d5bb4f55-18f4-47c0-ae6d-33d0f684534f","name":"If"},{"parameters":{"operation":"update","databaseId":52,"tableId":710,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6861,"fieldValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1488,-32],"id":"a08699fe-a5a8-4a18-a1b0-abfe72ccecad","name":"Update a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"databaseId":52,"tableId":716,"additionalOptions":{"filters":{"fields":[{"field":6956,"operator":"link_row_has","value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[240,-48],"id":"f66f2261-7185-403b-bde7-ee2e922efa7f","name":"Get history","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e65294e-dffe-4d47-bd3d-e984c82e2bd7","leftValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","rightValue":"indefini","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"4f3e99b7-bbf0-4cf0-a98b-a3cf488b8cc7","leftValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","rightValue":"indéfini","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d3397a36-1fd4-4c5b-b877-e49a2cee8a68","leftValue":"={{ $json.Email }}","rightValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,-48],"id":"eacee82d-9dca-41bc-a83a-cf88c9dd8e63","name":"If1"},{"parameters":{"databaseId":52,"tableId":710,"limit":10,"additionalOptions":{"filters":{"fields":[{"field":6898,"operator":"link_row_has","value":"={{ $('Get history').item.json.opportunite[0].id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[880,-48],"id":"05096edf-5d02-4261-8870-8f39de287c4a","name":"Get contact","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"resource":"email","operation":"createDraft","destinationMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"subject":"={{ $('Edit Fields').item.json.Mail[0].sujet }}","from":"t1man2@eecie.ca","to":"={{ $('Edit Fields').item.json.Mail[0].mail }}","text":"={{ $('Edit Fields').item.json.Mail[0].data }}"},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[560,448],"id":"572c141e-44fb-4770-86fb-98a9bf4697ce","name":"CreateDraft email","credentials":{"imapApi":{"id":"mFsJ8Av2GQYM9xlO","name":"IMAP Credentials t1man2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Get contact","type":"main","index":0}]]},"If":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Get history","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Get history":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Get contact":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5be98334-e632-4a5d-9e91-447077d77382","triggerCount":0,"shared":[{"createdAt":"2025-07-31T15:31:53.728Z","updatedAt":"2025-07-31T15:31:53.728Z","role":"workflow:owner","workflowId":"ThYOtngogV1OpJlr","projectId":"t78m7QTVO4mkjY0H"}],"tags":[]}