Automation/workflows/task_status_change.json
{"createdAt":"2025-06-19T07:41:57.255Z","updatedAt":"2025-08-08T17:03:39.331Z","id":"2AclnQNYMfPLg5Zv","name":"task_status_change","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"051fd31a-f700-469b-9711-9fbb0d9715ed","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-576,48],"id":"377666a8-087e-43c2-83d0-6ea60ed12fd4","name":"Webhook","webhookId":"051fd31a-f700-469b-9711-9fbb0d9715ed"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59364db3-dddd-475b-8fa3-d81591d4c168","leftValue":"={{ $json.body.items[0].statut.value }}","rightValue":"En_cours","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"En_cours"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2edf6653-19ac-4935-93ab-f78f4c4d67c8","leftValue":"={{ $json.body.items[0].statut.value }}","rightValue":"=Terminer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Terminer"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[32,32],"id":"89eca8c1-bfff-4734-8d34-054230961f34","name":"TacheStatut"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.items[0].titre }}","rightValue":"=Nouveau Dossier à traiter","operator":{"type":"string","operation":"equals"},"id":"e31db745-4c6c-4c2e-8268-c42fde9bdd5a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nouveau Dossier à traiter"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e4ed611-1c88-4a20-9883-d9140f749b49","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Contacter Client","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Contacter Client"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45bf5541-e0f5-44cb-b1d8-63b6c332dfd3","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"=Verifier Attachement et Contacts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verifier Attachement et Contacts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4037a27f-74b9-4558-8d8e-7675e8187cb0","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Valider Devis","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Valider Devis"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbf85946-8f3c-4f8f-877c-86a72b0394ac","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Interaction premier appel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Interaction premier appel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"206bf8e7-fa72-4303-bd0b-b5587770e68c","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Contacter équipe production","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Contacter équipe production"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1adc9583-6a9d-47d1-abde-3a932ae158f3","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Rappels pour interaction","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rappels Interaction"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1053120-03e6-4e55-b8ba-a908b3d7f3d4","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Réalisation projet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Réalisation projet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a65bbf90-108d-4787-894b-7e6e70a36b20","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Prestataire Manquant","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Prestataire Manquant"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,-1280],"id":"029ff5b4-8a5d-4e48-b21a-d34678fa15b6","name":"TypeTache"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6f26ce-28e5-44fe-9709-6d9db7743765","leftValue":"={{ $json.Status.value }}","rightValue":"Assigner","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,-1664],"id":"8f1a4a71-0e61-46d2-8178-da5fa9ab7de1","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4384,-544],"id":"cd5ffc6b-0cac-4d58-8eea-42645f71adb1","name":"No Operation, do nothing"},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Traitement"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1088,-1696],"id":"02978bce-f13a-4527-836a-594107c1350b","name":"Update opportunité","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0].opportunite[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[640,-1664],"id":"766c6cb8-5c8e-4e5e-9a90-174ed3d00563","name":"get opportunité","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0].opportunite[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[704,-1520],"id":"a81d9c38-2c11-4c11-a9f1-2bf424dfafa8","name":"get opportunité1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":706,"fieldsUi":{"fieldValues":[{"fieldId":6845,"fieldValue":"={{ $json.id }}"},{"fieldId":6846,"fieldValue":"={{ $json.T1_user[0].id }}"},{"fieldId":6850,"fieldValue":"a_faire"},{"fieldId":6947,"fieldValue":"={{ $json.Contacts[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1376,-1536],"id":"e4c95df1-66cf-43f7-a627-c775320db8f2","name":"Créer appel","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":711,"fieldsUi":{"fieldValues":[{"fieldId":6863,"fieldValue":"Appel Telephonique"},{"fieldId":6882,"fieldValue":"={{ $json['Opportunité'][0].id }}"},{"fieldId":6880,"fieldValue":"={{ $('get opportunité1').item.json.Contacts[0].id }}"},{"fieldId":6908,"fieldValue":"={{ $json.id }}"},{"fieldId":6883,"fieldValue":"={{ $json['Employé'][0].id }}"},{"fieldId":6864,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1568,-1488],"id":"d31ad3b5-3a32-4352-8f84-81c7bd0bb58e","name":"Interaction_premier_appel","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('get opportunité1').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6847,"fieldValue":"={{ $('Créer appel').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1776,-1488],"id":"6edbe28f-e8e9-4fc3-ad57-ea08c71daaa4","name":"update opportunites","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce6d09c7-17fc-4c4b-98fc-a99e5e16f3e7","leftValue":"={{ $('Webhook').item.json.body.items[0].terminer }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-1520],"id":"d21208b7-882e-4372-87c3-981abff53354","name":"If1"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Contacter Client"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"haute"},{"fieldId":6884,"fieldValue":"={{ $json.Contacts[0].id }}"},{"fieldId":6886,"fieldValue":"={{ $json.T1_user[0].id }}"},{"fieldId":6885,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1312,-1696],"id":"9e46e7a0-5a7a-42d4-9bae-c01c9f6232e6","name":"créer tache appel client 1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.items[0].titre }}","rightValue":"=Nouveau Dossier à traiter","operator":{"type":"string","operation":"equals"},"id":"e31db745-4c6c-4c2e-8268-c42fde9bdd5a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nouveau Dossier à traiter"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e4ed611-1c88-4a20-9883-d9140f749b49","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Contacter Client","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Contacter Client"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45bf5541-e0f5-44cb-b1d8-63b6c332dfd3","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"=Verifier Attachement et Contacts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verifier Attachement et Contacts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4037a27f-74b9-4558-8d8e-7675e8187cb0","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Valider Devis","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Valider Devis"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca560a97-18ea-4039-9325-d570cf7efd9c","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Création Devis","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Création Devis"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0182f824-5ff7-4327-ab88-a63a44d0712d","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Soumission","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Soumission"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3eb8b42e-57e6-4b68-ae92-c6eb4d5a5099","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Contacter équipe production","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Contacter équipe production"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa5e9262-f532-4f11-a903-7bd8abd81018","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Réalisation projet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Réalisation projet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8fe8a44-eb54-4c41-bbc5-9f1622d93c95","leftValue":"={{ $json.body.items[0].titre }}","rightValue":"Prestataire Manquant","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Prestataire Manquant"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[144,800],"id":"d7fc045b-133a-42c4-ade6-95c3a3f1087f","name":"TypeTache1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f56be3f-4a7b-4037-898b-b525f244b007","leftValue":"={{ $json.body.items[0].statut.value }}","rightValue":"={{ $json.body.old_items[0].statut.value }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,192],"id":"95ab54d8-63cf-4a4a-9537-6a203826f38d","name":"If3"},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6875,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[944,672],"id":"9c1a0687-ffec-49f6-920a-335c0ab34b64","name":"updatetachecontacterclient","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6875,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[624,512],"id":"06009d93-6bad-473c-9163-2b0350e924f2","name":"Update Tache nouveau dossier","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6875,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[704,992],"id":"ed06cdaf-42b8-4751-b7b4-a698c1c4a9c8","name":"Update tache contact equipe prod","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $('Webhook').item.json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6875,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[912,1136],"id":"c275962b-1bbb-4ce4-a929-1183b7f89088","name":"Update a row2","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6875,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1120,864],"id":"6134b3f0-03c6-46d6-b4c2-259ac748baa8","name":"Update Tache soumission","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0].opportunite[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1152,-880],"id":"4d525840-4187-4fb5-8ae0-abe22de61d03","name":"get opportunité4","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":704,"rowId":"={{ $json.Devis[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1360,-880],"id":"786d9923-9d04-4698-ba56-eb8941f7a34f","name":"Get Devis","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4241a2f3-b33a-493f-9e76-0dc4e7d6ff58","leftValue":"={{ $json.Status.id }}","rightValue":"={{ $json.Status.id }}","operator":{"type":"number","operation":"equals"}},{"id":"bff61b65-3463-4b2b-b6e5-4331a5c2e476","leftValue":"={{ $json.Fournisseur }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,-880],"id":"0e883c04-9030-41d6-bd1e-d9491f7771c9","name":"If4"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Prestataire Manquant"},{"fieldId":6871,"fieldValue":"={{  $now.plus(1,'days') }}"},{"fieldId":6870,"fieldValue":"=Opportunité : {{ $json.Task_input[0].value }}\nLe devis : {{ $json.id }}\nIl n'y a pas de prestataire lié à ce devis !"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"Urgence"},{"fieldId":6884,"fieldValue":"={{ $('get opportunité4').item.json.Contacts[0].id }}"},{"fieldId":6886,"fieldValue":"={{ $('get opportunité4').item.json.T1_user[0].id }}"},{"fieldId":6885,"fieldValue":"={{ $json.Task_input[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2016,-1024],"id":"e1406150-4246-48a4-8479-6974c5dd4ab4","name":"Create tache prestataire","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d80ad2c0-1e2d-455c-acc6-542ff9fb8781","leftValue":"={{ $json.body.items[0].terminer }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,-864],"id":"54d73fa4-054f-442f-8642-640484550a32","name":"If5"},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Contacter Client"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"haute"},{"fieldId":6884,"fieldValue":"={{ $json.Contacts[0].id }}"},{"fieldId":6886,"fieldValue":"={{ $json.T1_user[0].id }}"},{"fieldId":6885,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2000,672],"id":"ea51405e-18a4-4dc8-a024-e963a645a847","name":"créer tache appel client ","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0].opportunite[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1040,-1072],"id":"70c26f4d-5244-4f3b-82dc-ee5a2933639b","name":"Get opportunites5","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":704,"rowId":"={{ $json.Devis[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1328,-656],"id":"c44df2f6-eb35-4b33-b882-e5b7bad47cfe","name":"Get Devis1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0].opportunite[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1168,-656],"id":"d8c29c64-9bd1-46ef-bc7f-ce05b35e45fd","name":"get opportunité6","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $('TacheStatut').item.json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6870,"fieldValue":"=Attribué le fournisseur au devis :\n\n{{ $json.id }}\n\n<a ref=\"      \nhttps://portal.eecie.ca/mon-espace/?gce-page=devis&open-devis-id={{$json.id}}&open-mode=ecriture\">Editer le devis</a>\n"},{"fieldId":6871,"fieldValue":"={{ $now.plus(1,'days') }}"},{"fieldId":6873,"fieldValue":"haute"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1568,-656],"id":"9b803cc7-4821-492f-9f2a-ff67c36ec447","name":"Update tache description1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json.body.items[0].opportunite[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[896,1328],"id":"860f66b0-5e5a-4e01-958d-479fb75a9980","name":"get opportunité5","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":704,"rowId":"={{ $json.Devis[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1104,1328],"id":"078671da-0c38-49e5-a8bc-b859128d2e5f","name":"Get Devis2","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":713,"rowId":"={{  $('Get Devis').item.json.Fournisseur[0].id  }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2032,-784],"id":"b08426f1-0e75-42a8-92a9-9e3512096c11","name":"Get fournisseur details","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('hex');\n\n// On récupère le premier item en entrée\nconst item = $input.first();\n\n// On ajoute notre nouvelle propriété 'secureToken' directement à l'objet json de l'item\nitem.json.secureToken = token;\n\n// On retourne l'ensemble des items (avec notre item modifié)\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-784],"id":"d9117d8c-cfdc-4225-b5c1-05bee12a1e67","name":"generate token"},{"parameters":{"operation":"create","databaseId":52,"tableId":755,"fieldsUi":{"fieldValues":[{"fieldId":7383,"fieldValue":"={{ $('get opportunité4').item.json.id }}"},{"fieldId":7384,"fieldValue":"={{ $('Get fournisseur details').item.json.id }}"},{"fieldId":7387,"fieldValue":"={{ $('generate token').item.json.secureToken }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2240,-784],"id":"7eaeff1c-87d3-4407-a7b7-4dbb32069376","name":"Create RDV","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Webhook').item.json.body.items[0].opportunite[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"=Realisation"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1552,1328],"id":"f91ccc07-ba55-4a34-9630-8d6ce2ad4ff2","name":"Update task_input to realisation","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Webhook').item.json.body.items[0].opportunite[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"Erreur"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2224,-1024],"id":"4f2dbded-86be-4b63-bdec-d8c682d5b486","name":"Update opportunites","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"delete","databaseId":52,"tableId":712,"rowId":"={{ $('Webhook').item.json.body.items[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2432,-1024],"id":"06281d07-375b-4f25-8fe9-be59ca7d5f26","name":"Delete taches realisation","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"fromEmail":"user1@eecie.ca","toEmail":"={{ $json.Email }}","subject":"=Nouvelle mission de réalisation pour l'opportunité #{{ $('get opportunité4').item.json.id }}","html":"=Bonjour {{ $('Get fournisseur details').item.json.Nom }},\n<p>Une nouvelle mission vous a été assignée :</p>\n<ul>\n    <li><strong>Dossier :</strong> {{ $json.Nom }}</li>\n    <li><strong>Contact Client :</strong> {{ $json.contactId }}</li>\n    <li><strong>Téléphone :</strong> {{ $json.Telephone }}</li>\n</ul>\n<p><strong>Description des travaux :</strong></p>\n<div>{{ $('get opportunité4').item.json.Travaux }}</div>\n<p><a href=\"{{ $('Get Devis').item.json.File[0].url }}\">{{ $('Get Devis').item.json.File[0].visible_name }}</a></p>\n<hr>\n<h3>Action requise</h3>\n<p>Veuillez contacter le client pour convenir d'une date et d'une heure pour l'intervention. Une fois convenue, veuillez la soumettre en utilisant le lien sécurisé ci-dessous :</p>\n<a href=\"https://portal.eecie.ca/schedule-intervention/?rdv_id={{ $('Create RDV').item.json.id}}&token={{ $('generate token').item.json.secureToken }}\">\n    Soumettre la date du rendez-vous\n</a>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2640,-784],"id":"e372d3b5-8fd8-4884-8e9f-b7161d39b1ec","name":"Send email","webhookId":"8dd56679-372a-49d2-a820-636cd08bde9b","credentials":{"smtp":{"id":"QwTnek9CsD3td3E3","name":"SMTP account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":710,"rowId":"={{ $('Get fournisseur details').item.json.Contacts[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2448,-784],"id":"5c480a0d-4361-4f07-b961-4c3649311da8","name":"Get Contact","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"Contacter équipe production"},{"fieldId":6871,"fieldValue":"={{  $now }}"},{"fieldId":6872,"fieldValue":"Terminer"},{"fieldId":6873,"fieldValue":"Urgence"},{"fieldId":6884,"fieldValue":"={{ $('get opportunité4').item.json.Contacts[0].id }}"},{"fieldId":6885,"fieldValue":"={{ $('get opportunité4').item.json.id }}"},{"fieldId":6886,"fieldValue":"={{ $('get opportunité4').item.json.T1_user[0].id }}"},{"fieldId":6874,"fieldValue":"true"},{"fieldId":6875,"fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2848,-784],"id":"7dd2ce53-d3d7-4b6c-9ddf-e331bce30473","name":"Create tache contacter équipe production","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"TacheStatut","type":"main","index":0}]]},"TacheStatut":{"main":[[{"node":"TypeTache","type":"main","index":0}],[{"node":"TypeTache1","type":"main","index":0}]]},"TypeTache":{"main":[[{"node":"get opportunité","type":"main","index":0}],[{"node":"get opportunité1","type":"main","index":0}],[],[],[],[],[{"node":"Get opportunites5","type":"main","index":0}],[{"node":"If5","type":"main","index":0}],[{"node":"get opportunité6","type":"main","index":0}]]},"If":{"main":[[{"node":"Update opportunité","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"get opportunité":{"main":[[{"node":"If","type":"main","index":0}]]},"get opportunité1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Créer appel":{"main":[[{"node":"Interaction_premier_appel","type":"main","index":0}]]},"Interaction_premier_appel":{"main":[[{"node":"update opportunites","type":"main","index":0}]]},"update opportunites":{"main":[[]]},"If1":{"main":[[{"node":"Créer appel","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Update opportunité":{"main":[[{"node":"créer tache appel client 1","type":"main","index":0}]]},"TypeTache1":{"main":[[{"node":"Update Tache nouveau dossier","type":"main","index":0}],[{"node":"updatetachecontacterclient","type":"main","index":0}],[],[],[],[{"node":"Update Tache soumission","type":"main","index":0}],[{"node":"Update tache contact equipe prod","type":"main","index":0}],[{"node":"Update a row2","type":"main","index":0}],[{"node":"get opportunité5","type":"main","index":0}]]},"Update a row2":{"main":[[]]},"get opportunité4":{"main":[[{"node":"Get Devis","type":"main","index":0}]]},"Get Devis":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Create tache prestataire","type":"main","index":0}],[{"node":"generate token","type":"main","index":0}]]},"If5":{"main":[[{"node":"get opportunité4","type":"main","index":0}]]},"get opportunité6":{"main":[[{"node":"Get Devis1","type":"main","index":0}]]},"Get Devis1":{"main":[[{"node":"Update tache description1","type":"main","index":0}]]},"get opportunité5":{"main":[[{"node":"Get Devis2","type":"main","index":0}]]},"Get Devis2":{"main":[[{"node":"Update task_input to realisation","type":"main","index":0}]]},"Create tache prestataire":{"main":[[{"node":"Update opportunites","type":"main","index":0}]]},"Get fournisseur details":{"main":[[{"node":"Create RDV","type":"main","index":0}]]},"generate token":{"main":[[{"node":"Get fournisseur details","type":"main","index":0}]]},"Create RDV":{"main":[[{"node":"Get Contact","type":"main","index":0}]]},"Update task_input to realisation":{"main":[[]]},"Update opportunites":{"main":[[{"node":"Delete taches realisation","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Create tache contacter équipe production","type":"main","index":0}]]},"Get Contact":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eecie.ca","user-agent":"python-requests/2.32.3","accept-encoding":"gzip, deflate, br","accept":"*/*","content-type":"application/json","x-baserow-event":"rows.updated","x-baserow-delivery":"82823571-087c-4d83-803b-b31d21aec131","origin":"https://n8n.eecie.ca","x-forwarded-proto":"https","x-forwarded-for":"172.18.0.2","x-forwarded-host":"n8n.eecie.ca","x-forwarded-server":"n8n.eecie.ca","content-length":"2671","connection":"Keep-Alive"},"params":{},"query":{},"body":{"table_id":712,"database_id":52,"workspace_id":40,"webhook_id":4,"event_id":"82823571-087c-4d83-803b-b31d21aec131","event_type":"rows.updated","items":[{"id":1684,"order":"619.00000000000000000000","TachesId":1684,"titre":"Réalisation projet","description":"**PROJET À RÉALISER**\n---\n**Opportunité :** Timothée de Almeida (ID: 332)\n**Client :** 237\n**Téléphone :** +32467882838\n---\n**FOURNISSEUR ASSIGNÉ**\n**Nom :** timothee Casqueira\n**Contact Principal :** 237\n**fournisseur Mail :** burnedsyn@gmail.com\n---\n**DÉTAILS DES TRAVAUX**\n<p>lavage de vitres</p>\n---\n**ACTION REQUISE**\n1. Contacter le fournisseur pour planifier l'intervention avec le client.\n2. Confirmer la date de début des travaux.\n\n**Lien direct vers le dossier :**\nhttps://portal.eecie.ca/mon-espace/?gce-page=opportunites&open-opp-id=332","date_echeance":"2025-08-10T13:51:49.686000Z","statut":{"id":3031,"value":"En_cours","color":"darker-blue"},"priorite":{"id":3034,"value":"normal","color":"darker-purple"},"terminer":false,"date_completion":null,"contact":[{"id":237,"value":"237","order":"171.00000000000000000000"}],"opportunite":[{"id":332,"value":"Timothée de Almeida","order":"167.00000000000000000000"}],"assigne":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Created on":"2025-08-08","Rappels":[]}],"old_items":[{"id":1684,"order":"619.00000000000000000000","TachesId":1684,"titre":"Réalisation projet","description":"**PROJET À RÉALISER**\n---\n**Opportunité :** Timothée de Almeida (ID: 332)\n**Client :** 237\n**Téléphone :** +32467882838\n---\n**FOURNISSEUR ASSIGNÉ**\n**Nom :** timothee Casqueira\n**Contact Principal :** 237\n**fournisseur Mail :** burnedsyn@gmail.com\n---\n**DÉTAILS DES TRAVAUX**\n<p>lavage de vitres</p>\n---\n**ACTION REQUISE**\n1. Contacter le fournisseur pour planifier l'intervention avec le client.\n2. Confirmer la date de début des travaux.\n\n**Lien direct vers le dossier :**\nhttps://portal.eecie.ca/mon-espace/?gce-page=opportunites&open-opp-id=332","date_echeance":"2025-08-10T13:51:49.686000Z","statut":{"id":3039,"value":"Creation","color":"orange"},"priorite":null,"terminer":false,"date_completion":null,"contact":[{"id":237,"value":"237","order":"171.00000000000000000000"}],"opportunite":[{"id":332,"value":"Timothée de Almeida","order":"167.00000000000000000000"}],"assigne":[{"id":2,"value":"Isabelle","order":"2.00000000000000000000"}],"Created on":"2025-08-08","Rappels":[]}]},"webhookUrl":"https://n8n.eecie.ca/webhook/051fd31a-f700-469b-9711-9fbb0d9715ed","executionMode":"production"}}]},"versionId":"7c391122-f28d-4473-a428-0fe2ef298731","triggerCount":1,"tags":[{"createdAt":"2025-06-18T10:48:40.447Z","updatedAt":"2025-06-18T10:48:40.447Z","id":"4SxpaN7xOfwanCGp","name":"en cours"}]}