Automation/workflows/Task_terminer.json
{"createdAt":"2025-07-21T07:14:48.444Z","updatedAt":"2025-07-21T07:49:35.324Z","id":"xXbmc1gmaFEDAAN8","name":"Task_terminer","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8b9823b3-5bbd-4af5-ad70-b0d322658e0c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"bd899c3c-d8bd-4156-810b-4b5f9949e383","name":"Webhook","webhookId":"8b9823b3-5bbd-4af5-ad70-b0d322658e0c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82143195-f35f-4505-a020-e7a8525436fd","leftValue":"={{ $json.body.items[0].terminer }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"b51682ef-8072-41ad-ab31-39ed7c702ad5","leftValue":"={{ $json.body.items[0].statut.value }}","rightValue":"Terminer","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,0],"id":"9bf3e930-8feb-4058-a165-2a959ba4a116","name":"If TerminerIsTrue"},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $json.body.items[0].id }}","fieldsUi":{"fieldValues":[{"fieldId":6872,"fieldValue":"Terminer"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[416,-96],"id":"9d20a1e9-d959-4083-b4fd-58dfb602f85c","name":"Update a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Webhook":{"main":[[{"node":"If TerminerIsTrue","type":"main","index":0}]]},"If TerminerIsTrue":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bdbb2b00-d39b-4888-acd2-3375fb4efc32","triggerCount":1,"tags":[]}