Automation/workflows/tunnel1_entry piscinie.json
{"createdAt":"2025-09-06T14:59:09.326Z","updatedAt":"2025-09-09T21:47:01.358Z","id":"MYisFUIVW4SHSFaz","name":"tunnel1_entry piscinie","active":true,"isArchived":false,"nodes":[{"parameters":{"format":"resolved","options":{"forceReconnect":30}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-928,160],"id":"b8ef8e42-dc00-4deb-b4a2-e9e38e918174","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"o4W3izP9mrobFPtE","name":"IMAP account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"071226e0-ad2a-497d-8fee-70bf411ee937","leftValue":"={{$binary}}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,224],"id":"4f1a9295-d8df-4017-b908-4e897b3137a9","name":"If"},{"parameters":{"jsCode":"// Avec Allow External ON\nconst FormData = require('form-data'); \nconst axios = require('axios'); \n\n// Récupère le 1er élément en entrée\nconst item = $input.all()[0];\n\n// Récupère le binaire de l'attachement \"attachment_0\"\nconst attachment = item.binary?.attachment_0;\n\nif (!attachment) {\n  throw new Error('Aucun attachement \"attachment_0\" n\\'a été trouvé dans l\\'item');\n}\n\nconst form = new FormData();\nform.append('file', Buffer.from(attachment.data, 'base64'), {\n  filename: attachment.fileName || 'photo.jpg'\n});\n\n// Envoie le formulaire en utilisant Axios\nconst res = await axios.post('https://baserow.eecie.ca/api/user-files/upload-file/', form, {\n  headers: {\n    Authorization: \"Token lJHQatf7bnw216TZwHuUpoNlbS13BjEP\",\n    ...form.getHeaders()\n  }\n});\n\n// Retourne le résultat de l'API dans le workflow\nreturn [{ json: res.data }]; \n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-16],"id":"8334f52d-c440-40f4-a9ab-2985079f996f","name":"Code","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"99bc281f-c676-4de0-b6e1-82d5b69fbfef","name":"attachemnt_url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-16],"id":"083c6a64-9bfb-42a8-acc1-495e2a8b5f1d","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"operation":"create","databaseId":52,"tableId":703,"fieldsUi":{"fieldValues":[{"fieldId":6824,"fieldValue":"={{ $json.output.NomClient }}"},{"fieldId":6825,"fieldValue":"={{ $json.output.Tel }}"},{"fieldId":6827,"fieldValue":"={{ $json.output.Travauxdemande }}"},{"fieldId":6826,"fieldValue":"={{ $json.output.Ville }}"},{"fieldId":6834,"fieldValue":"={{ $('Code').item.json.name }}"},{"fieldId":6840,"fieldValue":"Ymmakenson"},{"fieldId":6828,"fieldValue":"Asssigner"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[832,-16],"id":"66082b6d-4081-44a5-a07f-c22ac9285d9c","name":"with attachement","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\nadresse email du client\ntravaux demandé par le client avec toutes les dimensions et calculs\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[192,224],"id":"788961ac-abba-42e4-8334-ab3f1f368d67","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n  \"NomClient\" : \"\",\n  \"Tel\" : \"\",\n  \"Email\":\"\",\n  \"Travauxdemande\" : \"\",\n  \"Ville\" : \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[320,432],"id":"18ac25a7-b682-4124-8292-204fd8a8c422","name":"Structured Output Parser"},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[208,448],"id":"fbb96126-ca3d-4c38-8786-238a3fcb5d79","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,192],"id":"557c029d-ea37-4000-9d73-0312c6da6b2f","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\nadresse email du client\ntravaux demandé par le client avec toutes les dimensions et calculs\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[464,-16],"id":"101c15de-1ac3-4aee-9a01-0760e627d944","name":"Basic LLM Chain"},{"parameters":{"operation":"create","databaseId":52,"tableId":703,"fieldsUi":{"fieldValues":[{"fieldId":6824,"fieldValue":"={{ $json.output.NomClient }}"},{"fieldId":6825,"fieldValue":"={{ $json.output.Tel }}"},{"fieldId":6827,"fieldValue":"={{ $json.output.Travauxdemande }}"},{"fieldId":6826,"fieldValue":"={{ $json.output.Ville }}"},{"fieldId":6840,"fieldValue":"Ymmakenson"},{"fieldId":6828,"fieldValue":"Assigner"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[672,224],"id":"5c8fadd8-57a2-41bd-aebc-c8b77e13f9f8","name":"Task_input_without_attachement","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"databaseId":52,"tableId":710,"additionalOptions":{"filters":{"fields":[{"field":6859,"value":"={{ $json.NomClient }}"},{"field":6860,"operator":"contains","value":"={{ $json.Tel }}"},{"field":6862,"operator":"contains","value":"={{ $json.Ville }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[864,224],"id":"cd550931-73c0-4de2-845d-621ef7cbe8e7","name":"VerifContact0","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfcac28d-d06c-45d7-a0bd-fd53e1a73a5a","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,224],"id":"b1a4df1e-cefb-4f8d-97c1-36fc80782112","name":"If1","alwaysOutputData":false},{"parameters":{"databaseId":52,"tableId":710,"additionalOptions":{"filters":{"fields":[{"field":6859,"value":"={{ $json.NomClient }}"},{"field":6860,"operator":"contains","value":"={{ $json.Tel }}"},{"field":6862,"value":"={{ $json.Ville }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1008,-16],"id":"f5917d1e-e9e0-4c4c-b058-85b5a9a6dc8d","name":"VerifContact","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfcac28d-d06c-45d7-a0bd-fd53e1a73a5a","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,0],"id":"96bd07c1-7eb1-4e4a-b8dc-67dbfa31b2ad","name":"If2","alwaysOutputData":false},{"parameters":{"operation":"update","databaseId":52,"tableId":710,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6898,"fieldValue":"={{ $('with attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2032,-320],"id":"06fd8a91-5dd2-40dd-99ee-6172fad2c705","name":"UpdateContactBin1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('with attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('with attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('with attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('with attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"},{"fieldId":6861,"fieldValue":"={{ $('Basic LLM Chain').item.json.output.Email }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1856,96],"id":"ce3e28a8-0cfe-4bc6-b785-89182d4a9b3f","name":"CreateContactbin1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":710,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6898,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1600,224],"id":"0f3471aa-1126-498e-b09a-3f0e8a850102","name":"UpdateContactnoBin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('Task_input_without_attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"},{"fieldId":6861,"fieldValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1440,512],"id":"68e77b01-39c6-4c2e-abad-7f744fb60c02","name":"CreateContactnoBin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $('with attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2400,32],"id":"38f84eb3-8730-4e7c-9f86-04c705bc2a32","name":"Histmail","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2000,224],"id":"6d818632-d91c-418e-9848-d0416e543b5a","name":"Histmail_a","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Task_input_without_attachement').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6899,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1616,448],"id":"d5942664-0d5f-4da1-8f46-c3343eeb71b8","name":"UpdateOpp","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1840,448],"id":"11d69578-3566-4aa4-9604-7ed75f45a027","name":"Histmail_a0","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('with attachement').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6899,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2160,16],"id":"8d73b5f2-d3dd-4436-bfb8-4a995b7bb15e","name":"updatecontactoppbin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16f72d0d-1398-4ecf-8173-604657075bbf","leftValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"1a86a977-1041-4e5b-92af-6c6f1242ab6a","leftValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","rightValue":"indéfini","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,320],"id":"3f515dbf-4740-4241-bdc9-b4c01fda5eb7","name":"If3"},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('Task_input_without_attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1568,912],"id":"bcacaec5-592f-4400-bce3-4dcf0b78b49f","name":"CreateContactnoBin1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16f72d0d-1398-4ecf-8173-604657075bbf","leftValue":"={{ $('Basic LLM Chain').item.json.output.Email }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"1a86a977-1041-4e5b-92af-6c6f1242ab6a","leftValue":"={{ $('Basic LLM Chain').item.json.output.Email }}","rightValue":"indéfini","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,80],"id":"090ec9c2-d25c-4bd6-9e5f-dcc7bf78f569","name":"If4"},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('with attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('with attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('with attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('with attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1856,-48],"id":"8fe37e20-2c56-4d9e-bb79-510c54ace127","name":"CreateContactbin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $('with attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2256,-320],"id":"c394ea1c-4d56-4e8f-a183-58dcdb9454b3","name":"mailhistA","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0},{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Task_input_without_attachement","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"with attachement":{"main":[[{"node":"VerifContact","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"with attachement","type":"main","index":0}]]},"Task_input_without_attachement":{"main":[[{"node":"VerifContact0","type":"main","index":0}]]},"VerifContact0":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"UpdateContactnoBin","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"VerifContact":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"UpdateContactBin1","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"UpdateContactBin1":{"main":[[{"node":"mailhistA","type":"main","index":0}]]},"CreateContactbin1":{"main":[[{"node":"updatecontactoppbin","type":"main","index":0}]]},"UpdateContactnoBin":{"main":[[{"node":"Histmail_a","type":"main","index":0}]]},"CreateContactnoBin":{"main":[[{"node":"UpdateOpp","type":"main","index":0}]]},"Histmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Histmail_a":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"UpdateOpp":{"main":[[{"node":"Histmail_a0","type":"main","index":0}]]},"Histmail_a0":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"updatecontactoppbin":{"main":[[{"node":"Histmail","type":"main","index":0}]]},"If3":{"main":[[{"node":"CreateContactnoBin1","type":"main","index":0}],[{"node":"CreateContactnoBin","type":"main","index":0}]]},"CreateContactnoBin1":{"main":[[{"node":"UpdateOpp","type":"main","index":0}]]},"If4":{"main":[[{"node":"CreateContactbin","type":"main","index":0}],[{"node":"CreateContactbin1","type":"main","index":0}]]},"CreateContactbin":{"main":[[{"node":"updatecontactoppbin","type":"main","index":0}]]},"mailhistA":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Email Trigger (IMAP)":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Email Trigger (IMAP)":[{"json":{"headers":{"return-path":"Return-Path: <info@ee-cie.ca>","x-spam-checker-version":"X-Spam-Checker-Version: SpamAssassin 4.0.0 (2022-12-13) on nightsky.eecie.ca","x-spam-level":"X-Spam-Level: ","x-spam-status":"X-Spam-Status: No, score=0.0 required=5.0 tests=DKIM_SIGNED,DKIM_VALID,\r\n\tDMARC_MISSING,HTML_MESSAGE,RCVD_IN_DNSWL_BLOCKED,SPF_HELO_NONE,\r\n\tT_SPF_PERMERROR autolearn=ham autolearn_force=no version=4.0.0","x-original-to":"X-Original-To: user4@eecie.ca","delivered-to":"Delivered-To: \"user4@eecie.ca\"@nightsky.eecie.ca","authentication-results":"Authentication-Results: nightsky.eecie.ca;\r\n\tdkim=pass (2048-bit key; unprotected) header.d=ee-cie-ca.20230601.gappssmtp.com header.i=@ee-cie-ca.20230601.gappssmtp.com header.a=rsa-sha256 header.s=20230601 header.b=WqpAmhlT;\r\n\tdkim-atps=neutral","received":"Received: by mail-qt1-x831.google.com with SMTP id d75a77b69052e-4b490287648so98695281cf.2\r\n        for <user4@eecie.ca>; Tue, 09 Sep 2025 13:54:22 -0700 (PDT)","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=ee-cie-ca.20230601.gappssmtp.com; s=20230601; t=1757451261; x=1758056061; darn=eecie.ca;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=8sLsp5A9dEVKQhMkpg8YpCKMu3CYRvaj8FH5nkHRc9c=;\r\n        b=WqpAmhlToYqVbYK+jvJvWQQTCJ+PtTg9Z1bZheQrl9Yd6Cj17fkwZJcTpyBlUITq9t\r\n         S3AKcfRCyY8auJDHSx+nC4BclesAmFOdhPQBBwUq/RnUQUP9llRJpAmXzb43s3T1kjX6\r\n         xVd+y0ptYHDHeILFxKR0qQ6rCf2tvaD0/rGI3TEQbxMVWhTPHWQfrYeYRAzUn32kn7sy\r\n         Ws3cy2Nq4xUvMBvjKCpGWQMR16DbngKUA3N4lfkkKtDoPq6LxKkPA/95h+PFun8WW6RS\r\n         XaMTkiYegElA/pZvuJNo4T23SWsUEN/vaZ9aMZNYasYNU8x/AoDdJSCLQiMnH5t1J2ob\r\n         lZ5g==","x-google-dkim-signature":"X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1757451261; x=1758056061;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=8sLsp5A9dEVKQhMkpg8YpCKMu3CYRvaj8FH5nkHRc9c=;\r\n        b=Jlu+MVMyDKqoSYHCm4v6rgXuSsX+RHOosIqcAtdT1fvHucEthfjGCojFReQ/nr3TUZ\r\n         2qA2KcxvdPMaZZoMAtdHMfnR1r6RzvmrpV0BkaYR85XTWeWP8koAcIRXUvWcZSa2mEDo\r\n         f3GRlvMRCn3dKUOxBGN3BD42qPCReqY0yxbouI4BKqKt4t9mX6EcomfPNe7B5DQBEMcA\r\n         5ScFuiqtfWLyvjVinHnCH4VKIhqc5WXq0uIkTUvW1udqDaL8yRKIGZ59INFAoKPUuhMu\r\n         wD1SaqT2okTAAx2XX244EkooVRFutmwbKb1SfPC+2KLHCp7R+DdJVcsBhoi693eVx7eE\r\n         d3Mw==","x-gm-message-state":"X-Gm-Message-State: AOJu0YyuynaZKjvTF6JX1fzGoqw6hniSfUIAD48a7Ae7hIxWJNV8sGkl\r\n\tFTkQVLPbDMbmbfMJQYTxmup+/w7vn/330cYzV4n7HviEeOAI1uQfKL1V4EkmMCiR6JS+xbkFs/H\r\n\tAToD3eeTQkHCoPJZnSaH3kqduMK5yU80toosQ48Ownw+QPftMdqch28u4nsKO","x-gm-gg":"X-Gm-Gg: ASbGncvf0qXYmvVb/j8eUiog2cvDgEgGsDa2LR9D3jy5CYAVB6kse3MQYSqm+YULheG\r\n\tMuelKcgvhr7CZZC/4h8RaKFkulK9rya8K2puRSb6MadMrsVgHmLOV9fMt1u2JgWpysB+oy7WEOC\r\n\t5M4GhckrjC8VE8GFmiSDBAwySWLTY5cH9rHyhwB+kNq9cHGV8Cllpy/eBrgMXmkXEvAXHUsGJyk\r\n\tEXGr9U=","x-google-smtp-source":"X-Google-Smtp-Source: AGHT+IGxsiJQ9d4ZqvfPmQssYkc3shJkiyopVS5SJA0ql9yaqzzZ1YyjkyHUT25IuwvO5Co6nsP2uEemoMv4r3xDmTk=","x-received":"X-Received: by 2002:a05:6214:e8b:b0:721:a9d7:297a with SMTP id\r\n 6a1803df08f44-739211ad854mr177613336d6.7.1757451258904; Tue, 09 Sep 2025\r\n 13:54:18 -0700 (PDT)","mime-version":"MIME-Version: 1.0","from":"From: Marc Antoine Cloutier <info@ee-cie.ca>","date":"Date: Tue, 9 Sep 2025 21:54:06 +0100","x-gm-features":"X-Gm-Features: AS18NWDdESnOcJWmF1U146l0peowG1bBOe8InIBR46O9HQRXyW6QBeAI4Eo_UvA","message-id":"Message-ID: <CACcF6Xbw=9sbfyJ8pWiPdH3jZBWUBXmVQdJFK5Rw7o8hpH2bbg@mail.gmail.com>","subject":"Subject: ","to":"To: user4@eecie.ca","content-type":"Content-Type: multipart/alternative; boundary=\"000000000000ff5397063e64817a\""},"html":"<div dir=\"ltr\"><p>Eric  Boudreau</p><p>Email: <a href=\"mailto:info@clotureetrampeeb.com\">info@clotureetrampeeb.com</a></p><p>Téléphone: 514-567-6682</p><p>Spécifications Piscine<br>Dimensions (LxlxP): 16 x 32 x 5 pieds</p><p>Escalier: Oui</p><p>Budget et Consentements<br>Gamme de budget: 15000 à 20000</p><p>Politique de confidentialité: Acceptée</p><p>Conditions d’utilisation: Non</p><p>Communications: Non</p></div>\n","text":"Eric  Boudreau\n\nEmail: info@clotureetrampeeb.com\n\nTéléphone: 514-567-6682\n\nSpécifications Piscine\nDimensions (LxlxP): 16 x 32 x 5 pieds\n\nEscalier: Oui\n\nBudget et Consentements\nGamme de budget: 15000 à 20000\n\nPolitique de confidentialité: Acceptée\n\nConditions d’utilisation: Non\n\nCommunications: Non\n","textAsHtml":"<p>Eric  Boudreau</p><p>Email: <a href=\"mailto:info@clotureetrampeeb.com\">info@clotureetrampeeb.com</a></p><p>T&eacute;l&eacute;phone: 514-567-6682</p><p>Sp&eacute;cifications Piscine<br/>Dimensions (LxlxP): 16 x 32 x 5 pieds</p><p>Escalier: Oui</p><p>Budget et Consentements<br/>Gamme de budget: 15000 &agrave; 20000</p><p>Politique de confidentialit&eacute;: Accept&eacute;e</p><p>Conditions d&rsquo;utilisation: Non</p><p>Communications: Non</p>","date":"2025-09-09T20:54:06.000Z","to":{"value":[{"address":"user4@eecie.ca","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:user4@eecie.ca\" class=\"mp_address_email\">user4@eecie.ca</a></span>","text":"user4@eecie.ca"},"from":{"value":[{"address":"info@ee-cie.ca","name":"Marc Antoine Cloutier"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">Marc Antoine Cloutier</span> &lt;<a href=\"mailto:info@ee-cie.ca\" class=\"mp_address_email\">info@ee-cie.ca</a>&gt;</span>","text":"\"Marc Antoine Cloutier\" <info@ee-cie.ca>"},"messageId":"<CACcF6Xbw=9sbfyJ8pWiPdH3jZBWUBXmVQdJFK5Rw7o8hpH2bbg@mail.gmail.com>","attributes":{"uid":20}}}]},"versionId":"71c7b6e6-087f-4ad3-9791-5f85d0e033a8","triggerCount":1,"shared":[{"createdAt":"2025-09-06T14:59:09.326Z","updatedAt":"2025-09-06T14:59:09.326Z","role":"workflow:owner","workflowId":"MYisFUIVW4SHSFaz","projectId":"t78m7QTVO4mkjY0H"}],"tags":[{"createdAt":"2025-06-17T22:03:07.359Z","updatedAt":"2025-06-17T22:03:07.359Z","id":"E4rBgnxxLWsa7OIx","name":"complet"}]}