Automation/workflows/tunnel1_entry.json
{"createdAt":"2025-06-15T22:05:35.453Z","updatedAt":"2025-08-12T16:03:30.708Z","id":"pQB8fYUb5dsX8Yv3","name":"tunnel1_entry","active":true,"isArchived":false,"nodes":[{"parameters":{"format":"resolved","options":{"forceReconnect":30}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-928,160],"id":"e13e59f0-2754-4457-b562-77c4191a948a","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"Req41dMZDKlOQw3V","name":"IMAP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"071226e0-ad2a-497d-8fee-70bf411ee937","leftValue":"={{$binary}}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,224],"id":"1a860892-2cbe-4aab-9b5b-c9d1b9b4ae39","name":"If"},{"parameters":{"jsCode":"// Avec Allow External ON\nconst FormData = require('form-data'); \nconst axios = require('axios'); \n\n// Récupère le 1er élément en entrée\nconst item = $input.all()[0];\n\n// Récupère le binaire de l'attachement \"attachment_0\"\nconst attachment = item.binary?.attachment_0;\n\nif (!attachment) {\n  throw new Error('Aucun attachement \"attachment_0\" n\\'a été trouvé dans l\\'item');\n}\n\nconst form = new FormData();\nform.append('file', Buffer.from(attachment.data, 'base64'), {\n  filename: attachment.fileName || 'photo.jpg'\n});\n\n// Envoie le formulaire en utilisant Axios\nconst res = await axios.post('https://baserow.eecie.ca/api/user-files/upload-file/', form, {\n  headers: {\n    Authorization: \"Token lJHQatf7bnw216TZwHuUpoNlbS13BjEP\",\n    ...form.getHeaders()\n  }\n});\n\n// Retourne le résultat de l'API dans le workflow\nreturn [{ json: res.data }]; \n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-16],"id":"687fdd67-d0a4-4785-acb9-68b3ff66a549","name":"Code","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"99bc281f-c676-4de0-b6e1-82d5b69fbfef","name":"attachemnt_url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-16],"id":"57db66b8-0543-467c-92a4-3e3e61cd9fde","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"operation":"create","databaseId":52,"tableId":703,"fieldsUi":{"fieldValues":[{"fieldId":6824,"fieldValue":"={{ $json.output.NomClient }}"},{"fieldId":6825,"fieldValue":"={{ $json.output.Tel }}"},{"fieldId":6827,"fieldValue":"={{ $json.output.Travauxdemande }}"},{"fieldId":6826,"fieldValue":"={{ $json.output.Ville }}"},{"fieldId":6834,"fieldValue":"={{ $('Code').item.json.name }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[832,-16],"id":"fb1aaf89-0547-4223-8455-c4968239676e","name":"with attachement","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\nadresse email du client\ntravaux demandé par le client\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[192,224],"id":"6cbf0356-b6fc-4fea-9372-b3564db40a07","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n  \"NomClient\" : \"\",\n  \"Tel\" : \"\",\n  \"Email\":\"\",\n  \"Travauxdemande\" : \"\",\n  \"Ville\" : \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[320,432],"id":"b4585d07-92e1-4d9d-99f7-5d2d94221c45","name":"Structured Output Parser"},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[208,448],"id":"f286be43-90a8-4c9b-b896-5a4dbda8a593","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HwEaU3wVnHbaSIU9","name":"Groq account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,192],"id":"51aefba3-1e2d-41fa-8733-3429dfcc78cd","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Tu es un assistant d'extraction de données.\nTu dois extraire les information pertinente du corps d'émail que l'utilisateur t'envoie.\nSi la source est ElWeb Leads Generation Department alors \"Plombier Québec\" n'est pas une demande de travaux client (c'est l'un des organisme de travaux que nous gérons)\n\n####\nnom du client\nTéléphone du client/appelant\nville du client\nadresse email du client\ntravaux demandé par le client\n####\nsois précis, n'invente pas, si une information est manquante met juste indéfini"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[464,-16],"id":"3b44b443-b940-4f85-9bab-7558b3fd73f4","name":"Basic LLM Chain"},{"parameters":{"operation":"create","databaseId":52,"tableId":703,"fieldsUi":{"fieldValues":[{"fieldId":6824,"fieldValue":"={{ $json.output.NomClient }}"},{"fieldId":6825,"fieldValue":"={{ $json.output.Tel }}"},{"fieldId":6827,"fieldValue":"={{ $json.output.Travauxdemande }}"},{"fieldId":6826,"fieldValue":"={{ $json.output.Ville }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[672,224],"id":"ecc8b2ac-cb14-414c-96b6-ffb789bde6b7","name":"Task_input_without_attachement","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"databaseId":52,"tableId":710,"additionalOptions":{"filters":{"fields":[{"field":6859,"value":"={{ $json.NomClient }}"},{"field":6860,"operator":"contains","value":"={{ $json.Tel }}"},{"field":6862,"operator":"contains","value":"={{ $json.Ville }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[864,224],"id":"772e2e3c-619b-4690-b594-876e27505534","name":"VerifContact0","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfcac28d-d06c-45d7-a0bd-fd53e1a73a5a","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,224],"id":"0a22cfc4-edc2-4111-9e9d-da3715125b6d","name":"If1","alwaysOutputData":false},{"parameters":{"databaseId":52,"tableId":710,"additionalOptions":{"filters":{"fields":[{"field":6859,"value":"={{ $json.NomClient }}"},{"field":6860,"operator":"contains","value":"={{ $json.Tel }}"},{"field":6862,"value":"={{ $json.Ville }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1008,-16],"id":"324f852d-4f3d-42d5-af5e-8dd652dc8a85","name":"VerifContact","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfcac28d-d06c-45d7-a0bd-fd53e1a73a5a","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,0],"id":"2ef96b85-40e4-4d5f-96a4-346bc1f4efad","name":"If2","alwaysOutputData":false},{"parameters":{"operation":"update","databaseId":52,"tableId":710,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6898,"fieldValue":"={{ $('with attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2032,-320],"id":"ac856ea1-3831-402b-b6ef-78d0de44f7a7","name":"UpdateContactBin1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('with attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('with attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('with attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('with attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"},{"fieldId":6861,"fieldValue":"={{ $('Basic LLM Chain').item.json.output.Email }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1856,96],"id":"3d6decd2-92fd-49e4-af53-b7e991ecf118","name":"CreateContactbin1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":710,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6898,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1600,224],"id":"c307ebad-9624-4ea8-8d5a-f518a5096209","name":"UpdateContactnoBin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('Task_input_without_attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"},{"fieldId":6861,"fieldValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1440,512],"id":"437e6699-33df-4bce-b6b4-359cbb176b0d","name":"CreateContactnoBin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $('with attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2400,32],"id":"c3dfef02-0466-4df2-8eb7-fdcc166a66cc","name":"Histmail","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2000,224],"id":"ff2a4456-eea7-424a-938f-984a8fa319af","name":"Histmail_a","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('Task_input_without_attachement').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6899,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1616,448],"id":"1fb1d896-738d-403b-8b01-47cd58e80679","name":"UpdateOpp","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1840,448],"id":"9d537797-c1be-428f-bb73-8f036754f767","name":"Histmail_a0","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":703,"rowId":"={{ $('with attachement').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6899,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2160,16],"id":"690ecc23-0a09-40db-b3d9-f2c2ff456cc5","name":"updatecontactoppbin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16f72d0d-1398-4ecf-8173-604657075bbf","leftValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"1a86a977-1041-4e5b-92af-6c6f1242ab6a","leftValue":"={{ $('Basic LLM Chain1').item.json.output.Email }}","rightValue":"indéfini","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,320],"id":"4de58f61-ff53-4e91-b251-b61eb2c84eb5","name":"If3"},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('Task_input_without_attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('Task_input_without_attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('Task_input_without_attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1568,912],"id":"c3cab562-63e3-42a4-a041-6b74221d8032","name":"CreateContactnoBin1","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16f72d0d-1398-4ecf-8173-604657075bbf","leftValue":"={{ $('Basic LLM Chain').item.json.output.Email }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"1a86a977-1041-4e5b-92af-6c6f1242ab6a","leftValue":"={{ $('Basic LLM Chain').item.json.output.Email }}","rightValue":"indéfini","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,80],"id":"10aa5d2c-b675-447e-81a6-1018fd344fa2","name":"If4"},{"parameters":{"operation":"create","databaseId":52,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6859,"fieldValue":"={{ $('with attachement').item.json.NomClient }}"},{"fieldId":6860,"fieldValue":"={{ $('with attachement').item.json.Tel }}"},{"fieldId":6862,"fieldValue":"={{ $('with attachement').item.json.Ville }}"},{"fieldId":6898,"fieldValue":"={{ $('with attachement').item.json.id }}"},{"fieldId":6935,"fieldValue":"Client"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1856,-48],"id":"24c81142-3fd8-44cb-88ba-37ec0167e02e","name":"CreateContactbin","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":716,"fieldsUi":{"fieldValues":[{"fieldId":6953,"fieldValue":"={{ $now }}"},{"fieldId":6954,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.headers.from.extractEmail() }}"},{"fieldId":6955,"fieldValue":"={{ $('Email Trigger (IMAP)').item.json.html }}"},{"fieldId":6956,"fieldValue":"={{ $('with attachement').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2256,-320],"id":"32ac1470-e27b-4fd4-936f-2d0277a4c717","name":"mailhistA","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0},{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Task_input_without_attachement","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"with attachement":{"main":[[{"node":"VerifContact","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"with attachement","type":"main","index":0}]]},"Task_input_without_attachement":{"main":[[{"node":"VerifContact0","type":"main","index":0}]]},"VerifContact0":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"UpdateContactnoBin","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"VerifContact":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"UpdateContactBin1","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"UpdateContactBin1":{"main":[[{"node":"mailhistA","type":"main","index":0}]]},"CreateContactbin1":{"main":[[{"node":"updatecontactoppbin","type":"main","index":0}]]},"UpdateContactnoBin":{"main":[[{"node":"Histmail_a","type":"main","index":0}]]},"CreateContactnoBin":{"main":[[{"node":"UpdateOpp","type":"main","index":0}]]},"Histmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Histmail_a":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"UpdateOpp":{"main":[[{"node":"Histmail_a0","type":"main","index":0}]]},"Histmail_a0":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"updatecontactoppbin":{"main":[[{"node":"Histmail","type":"main","index":0}]]},"If3":{"main":[[{"node":"CreateContactnoBin1","type":"main","index":0}],[{"node":"CreateContactnoBin","type":"main","index":0}]]},"CreateContactnoBin1":{"main":[[{"node":"UpdateOpp","type":"main","index":0}]]},"If4":{"main":[[{"node":"CreateContactbin","type":"main","index":0}],[{"node":"CreateContactbin1","type":"main","index":0}]]},"CreateContactbin":{"main":[[{"node":"updatecontactoppbin","type":"main","index":0}]]},"mailhistA":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":496}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f4b9dd9-0191-4912-a227-740502ef06a3","triggerCount":1,"shared":[{"createdAt":"2025-06-15T22:05:35.453Z","updatedAt":"2025-06-15T22:05:35.453Z","role":"workflow:owner","workflowId":"pQB8fYUb5dsX8Yv3","projectId":"t78m7QTVO4mkjY0H"}],"tags":[{"createdAt":"2025-06-17T22:03:07.359Z","updatedAt":"2025-06-17T22:03:07.359Z","id":"E4rBgnxxLWsa7OIx","name":"complet"}]}