Automation/workflows/VerifErreurOpportunites MailMANQUANT.json
{"createdAt":"2025-07-29T06:53:43.817Z","updatedAt":"2025-07-31T15:21:55.716Z","id":"4MjWGh9NOEyWOeaZ","name":"VerifErreurOpportunites MailMANQUANT","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"565d7ef6-de54-48a7-8cf4-cb11f39a2a8e","name":"Schedule Trigger"},{"parameters":{"databaseId":52,"tableId":703,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6828,"operator":"single_select_equal","value":"3240"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[208,0],"id":"5e990c17-9699-4580-9f4b-3f2a6fb66e0a","name":"Get opportunites Erreur","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"048c5107-6120-408f-a05c-44aa50822784","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2928,0],"id":"4d6bd036-4e29-476d-9696-5af39706a267"},{"parameters":{"databaseId":52,"tableId":712,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6885,"operator":"link_row_has","value":"={{ $json.id }}"},{"field":6872,"operator":"single_select_not_equal","value":"3032"},{"field":6869,"value":"MAIL MANQUANT"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[672,16],"id":"f2d77ef2-162d-4eee-8e1b-2860554f13f4","name":"Get Taches MailManquant","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $json.date_echeance }}","endDate":"={{ $now }}","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[880,16],"id":"4eaa5463-6093-4d0b-965d-ecb32c563893","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80596534-0485-4a23-a61a-addd28266fd3","leftValue":"={{ $json.timeDifference.days }}","rightValue":3,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,16],"id":"213bcd59-ddc7-449b-ab36-33c33ee02b13","name":"If"},{"parameters":{"fromEmail":"user1@eecie.ca","toEmail":"={{ $json.Email }}","subject":"=opportunité {{ $('Loop Over Items').item.json.id }} {{ $('Loop Over Items').item.json.NomClient }}  en Erreur Taches en retard {{ $('Update Taches').item.json.titre }} {{ $('Update Taches').item.json.id }} !","html":"=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Rappel de Tâche en Retard</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f7f7f7;\n      margin: 0;\n      padding: 0;\n      color: #333333;\n    }\n\n    .container {\n      max-width: 600px;\n      margin: 40px auto;\n      background-color: #ffffff;\n      border: 1px solid #dddddd;\n      border-left: 5px solid #e53935;\n      box-shadow: 0 0 10px rgba(0,0,0,0.05);\n    }\n\n    .header {\n      background-color: #e53935;\n      color: #ffffff;\n      padding: 20px;\n      text-align: center;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 24px;\n    }\n\n    .content {\n      padding: 30px 20px;\n    }\n\n    .content h2 {\n      color: #e53935;\n    }\n\n    .content p {\n      line-height: 1.6;\n    }\n\n    .task-box {\n      background-color: #fff3f3;\n      border: 1px solid #e53935;\n      padding: 15px;\n      margin: 20px 0;\n      border-radius: 4px;\n    }\n\n    .button {\n      display: inline-block;\n      padding: 12px 20px;\n      margin-top: 20px;\n      background-color: #e53935;\n      color: #ffffff;\n      text-decoration: none;\n      font-weight: bold;\n      border-radius: 4px;\n    }\n\n    .footer {\n      font-size: 12px;\n      color: #999999;\n      text-align: center;\n      padding: 20px;\n    }\n\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⏰ Tâche en Retard</h1>\n    </div>\n    <div class=\"content\">\n      <h2>Bonjour {{ $json.Name }},</h2>\n      <p>\n        Nous avons remarqué que la tâche suivante est <strong>toujours en attente</strong> alors que son échéance est désormais dépassée.\n      </p>\n\n      <div class=\"task-box\">\n        <p><strong>Opportunité :</strong>{{ $('Loop Over Items').item.json.id }} {{ $('Loop Over Items').item.json.NomClient }} </p>\n        <p><strong>Tâche :</strong> {{ $('Update Taches').item.json.titre }} </p>\n        <p><strong>Date limite :</strong>{{ $('Update Taches').item.json.date_echeance.toDateTime().format('dd-MM-yyyy') }}</p>\n        <p><strong>État :</strong> {{ $('Update Taches').item.json.statut.value }}</p>\n      </div>\n\n      <p style=\"color:#d32f2f;\">\n        Merci de prendre les mesures nécessaires <strong>immédiatement</strong> pour régulariser la situation ou informer votre responsable si un blocage empêche l’avancement.\n      </p>\n\n      <a href=\"https://portal.eecie.ca/mon-espace/?gce-page=taches&open-task-id={{ $('Update Taches').item.json.id }}&open-mode=ecriture\" class=\"button\">Accéder à la Tâche</a>\n\n      <p style=\"margin-top: 30px;\">\n        Ce rappel est généré automatiquement. En cas de difficultés récurrentes, merci d'en discuter avec votre encadrant.\n      </p>\n    </div>\n    <div class=\"footer\">\n      © {{ $now.extract('year') }} - Service de gestion des tâches | Merci de ne pas répondre à ce mail.\n    </div>\n  </div>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1712,-80],"id":"228c6f53-cb4a-48f4-a12f-10f9bb829ff2","name":"Send email","webhookId":"069efdd5-b831-47cb-9081-4f9388f0e461","credentials":{"smtp":{"id":"QwTnek9CsD3td3E3","name":"SMTP account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":712,"rowId":"={{ $('Get Taches MailManquant').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6873,"fieldValue":"Urgence"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1296,-80],"id":"5dfe50a7-2584-4988-bd84-becbcfac8fb2","name":"Update Taches","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":705,"rowId":"={{ $json.assigne[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1504,-80],"id":"28ed0454-d1b4-43bb-9d39-4b1a96c6046a","name":"Get T1_user","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get opportunites Erreur","type":"main","index":0}]]},"Get opportunites Erreur":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Taches MailManquant","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Taches MailManquant":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Taches","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Update Taches":{"main":[[{"node":"Get T1_user","type":"main","index":0}]]},"Get T1_user":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28ebe573-4af2-4881-9f05-f46e687bba86","triggerCount":1,"tags":[{"createdAt":"2025-07-17T05:32:17.511Z","updatedAt":"2025-07-17T05:32:17.511Z","id":"mA9qS7MsT6Bd4y2S","name":"core"},{"createdAt":"2025-06-18T10:48:40.447Z","updatedAt":"2025-06-18T10:48:40.447Z","id":"4SxpaN7xOfwanCGp","name":"en cours"}]}