Automation/workflows/VerifRappels.json
{"createdAt":"2025-07-27T19:51:35.645Z","updatedAt":"2025-08-26T09:35:56.196Z","id":"2hGaxyJOkMTgjEwg","name":"VerifRappels","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"ba1aa6de-4592-4494-a071-db1fde3dc5a5","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"5d8afb39-8a0b-4468-b5a3-124484e509c7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2912,16],"id":"374613c4-ae31-44a8-ae61-0bea225beb05"},{"parameters":{"databaseId":52,"tableId":728,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":7079,"operator":"date_before","value":"={{ $now.plus(1,'days')}}"},{"field":7080,"operator":"single_select_equal","value":"3151"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[208,0],"id":"cc8f21f1-7262-4df0-93d9-9e01f6428ee2","name":"GET Rappels","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":711,"rowId":"={{ $json.Interactions[0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[880,16],"id":"abe597fe-c9ca-4601-89ed-e455c8e34df6","name":"Get Interaction","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"get","databaseId":52,"tableId":703,"rowId":"={{ $json['opportunité'][0].id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1088,16],"id":"d49230df-6efb-4164-86e9-e881e3cad971","name":"Get opportunites","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":52,"tableId":712,"fieldsUi":{"fieldValues":[{"fieldId":6869,"fieldValue":"=Rappels pour interaction {{ $('Get Interaction').item.json.id }}"},{"fieldId":6870,"fieldValue":"={{ $('Get Interaction').item.json.compte_rendu }}"},{"fieldId":6871,"fieldValue":"={{ $today }}"},{"fieldId":6872,"fieldValue":"Creation"},{"fieldId":6873,"fieldValue":"Urgence"},{"fieldId":6884,"fieldValue":"={{ $json.Contacts[0].id }}"},{"fieldId":6885,"fieldValue":"={{ $json.id }}"},{"fieldId":6886,"fieldValue":"={{ $json.T1_user[0].id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1296,16],"id":"7a4e5dbc-0026-4ff4-bf2e-c20827ea6a2e","name":"Create a row","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":52,"tableId":728,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":7080,"fieldValue":"Traite"},{"fieldId":7085,"fieldValue":"={{ $('Create a row').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2016,16],"id":"ded4fca8-4e88-41a4-9029-85426f38f9d1","name":"Update Rappels","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"databaseId":52,"tableId":705,"additionalOptions":{"filters":{"fields":[{"field":6835,"value":"={{ $json.assigne[0].value }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1504,16],"id":"4d6ef016-62ad-4f62-b3b2-957580a7e992","name":"Get many rows","credentials":{"baserowApi":{"id":"SAkHE4LXFLDlBctH","name":"Baserow account"}}},{"parameters":{"fromEmail":"user1@eecie.ca","toEmail":"={{ $json.Email }}","subject":"={{ $('Create a row').item.json.titre }}","html":"=Bonjour vous avez un rappel a traiter.<br> \nVoici la tâche concernée : {{ $('Create a row').item.json.titre }} <br>\n\n{{ $('Create a row').item.json.description }}\n\n<a href=\"https://portal.eecie.ca/mon-espace/?gce-page=opportunites&open-opp-id=\n{{ $('Create a row').item.json.opportunite[0].id }}\"> Voir l'opportunité</a>\n\nBelle journée\nAdmin","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1744,16],"id":"0b39973d-b700-4d60-9b27-3cab5a891664","name":"Send email","webhookId":"dbfd0e3c-432f-47b3-94e7-ba0124174ccb","credentials":{"smtp":{"id":"QwTnek9CsD3td3E3","name":"SMTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2e2ee96-b6ac-4ab1-bf5b-a87268322ca0","leftValue":"={{ $json.Interactions }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,-144],"id":"d367c295-8198-47b1-b5e5-f982a44a9b2a","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"GET Rappels","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GET Rappels":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Interaction":{"main":[[{"node":"Get opportunites","type":"main","index":0}]]},"Get opportunites":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Update Rappels":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Update Rappels","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Get Interaction","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-26T05:00:19.011-04:00","Readable date":"August 26th 2025, 5:00:19 am","Readable time":"5:00:19 am","Day of week":"Tuesday","Year":"2025","Month":"August","Day of month":"26","Hour":"05","Minute":"00","Second":"19","Timezone":"America/Montreal (UTC-04:00)"}}]},"versionId":"840e9c46-c9b5-4b19-96c4-15291f6fd56f","triggerCount":1,"shared":[{"createdAt":"2025-07-27T19:51:35.645Z","updatedAt":"2025-07-27T19:51:35.645Z","role":"workflow:owner","workflowId":"2hGaxyJOkMTgjEwg","projectId":"t78m7QTVO4mkjY0H"}],"tags":[{"createdAt":"2025-06-18T10:48:40.447Z","updatedAt":"2025-06-18T10:48:40.447Z","id":"4SxpaN7xOfwanCGp","name":"en cours"},{"createdAt":"2025-07-17T05:32:17.511Z","updatedAt":"2025-07-17T05:32:17.511Z","id":"mA9qS7MsT6Bd4y2S","name":"core"}]}